/* 루트 함수
공동으로 사용할 스타일을 미리 지정해놓고 사용 가능
스타일 지정시 지정할 스타일: 루트 함수명 으로 사용 가능
--만 타이핑 하면 자동완성 리스트가 뜨고 
선택하면 var()함수까지 자동완성됨 */
:root {
  --background-color: white;
  --main-font-color: #222;
  --sub-font-color: rgb(105, 105, 105);
  --icon-button-color: #333;
  --point-color: #2b8c44;
  --line-color: #ddd;
  --modal-background-color: #11111180;

  --small-font-size: 12px;
  --main-font-size: 14px;
  --medium-font-size: 16px;
  --large-font-size: 18px;
  --headline-font-size: 30px;
  --title-font-size: 24px;
}

@font-face {
  font-family: "S-CoreDream-4Legular";
  src: url("../font/SCDream4.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansKR-Bold";
  src: url("../font/NotoSansKR/NotoSansKR-Bold.otf") format("woff");
}

@font-face {
  font-family: "NotoSansKR-Medium";
  src: url("../font/NotoSansKR/NotoSansKR-Medium.otf") format("woff");
}

@font-face {
  font-family: "NotoSansKR-Regular";
  src: url("../font/NotoSansKR/NotoSansKR-Regular.otf") format("woff");
}

@font-face {
  font-family: "NotoSansKR-Light";
  src: url("../font/NotoSansKR/NotoSansKR-Light.otf") format("woff");
}

* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "S-CoreDream-4Legular";
  font-family: "NotoSansKR-Light";
  font-family: "NotoSansKR-Medium";
  font-family: "NotoSansKR-Regular";
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

input:focus {
  outline: none;
}

a {
  color: var(--main-font-color);
}

button {
  cursor: pointer;
}