@import '../root-style.css';

*{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.container{
    display: flex;
    
    width: 1000px;
    height: 670px;

    margin-top: 10px;
}

/* 채팅 목록 */
.chat-sidebar{
    background-color: #2b8c4440;
    border-radius: 10px;

    width: 250px;
    height: 670px;

    padding: 5px;
    margin-right: 10px;

    display: flex;
    flex-direction: column;
}

.chat-sidebar-header{
    padding: 5px 0px;
}

/* 채팅방 목록 타이틀 */
.title{
    background-color: var(--point-color);
    border: 1px solid var(--line-color);
    border-radius: 10px;

    font-size: var(--medium-font-size);
    color: white;
    font-weight: 500;

    width: 100%;
    height: 50px;

    margin-bottom: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.title:hover{
    transform: translateY(-2px);
    opacity: 0.9;
}

.title:active{
    transition-duration: 0.2s;
    opacity: 0.95;
}

/* 채팅방 검색창 */
.search-area{
    width: 100%;
    height: 39px;

    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--line-color);
    margin-bottom: 5px;

    position: relative;
}

#searchBar{
    font-size: var(--small-font-size);
    font-weight: 100;
    
    width : 75%;
    height: 36px;
    outline: none;
    background-color: transparent;
    padding: 0px 20px 0px 10px;
    border: none;

}

#searchBtn{
    width : 20%;
    height: 39px;
    color: var(--sub-font-color);
    font-weight: 100;

    font-size: var(--small-font-size);

    background-color: white;
    border: 1px solid var(--line-color);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBtn:hover{
    background-color: #fafafa;
    font-weight: 600;
}

#resetRoomSearch{
    /* flex-basis: 10%; */
    background-color: transparent;
    border: none;

    text-align: center;
    position: absolute;
    right: 57px;
    display: none;
}

.roomTypeFilter{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 40px;
    background-color: white;

    border-radius: 7px;

    overflow: hidden;
}

.roomTypeFilter > label{
    width: 80px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
}

.roomTypeFilter > input{
    display: none;
}

.roomTypeFilter > label:hover{
    font-weight: 600;
    color: var(--point-color);
}

.roomTypeFilter > input:checked + label{
    background-color: var(--point-color);
    color: white;
}

/* 채팅방 목록 */
.chat-preview-area{
    height: 460px;
    overflow-y: scroll;
    border-radius: 10px;

        /* 스크롤바 숨기기 */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;   /* Firefox */

    transition-duration: 0.5s;
}

/* 채팅방 풋터 */
.chat-sidebar-footer{
    height: 40px;
    width: 100%;
    background-color: var(--point-color);
    color: white;
    border-radius: 7px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    margin-top: 10px;
}

.chat-sidebar-footer:hover{
    opacity: 0.9;
}

/* 스크롤바 숨기기 */
.chat-preview-area::-webkit-scrollbar{
    display: none;
}

/* 채팅방 목록 하나 */
.chat-preview-box{
    background-color: white;
    
    width: 100%;
    height: 70px;

    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    position: relative;

    cursor: pointer;
}

/* 프로필 이미지 */
/* .profile-img{
    width: 40px;
    height: 100%;
    margin-right: 5px;
    
    display: flex;
    align-items: center;
}

.profile-img > img{
    width: 40px;
    height: 40px;
    
    padding: 2px;

    border: 1px solid var(--line-color);
    border-radius: 50%;
} */

.thumbnail-img{
    width: 40px;
    height: 100%;
    margin-right: 5px;
    
    display: flex;
    align-items: center;
}

.thumbnail-img > img{
    width: 40px;
    height: 40px;
    
    padding: 2px;

    border: 1px solid var(--line-color);
    border-radius: 50%;
}

/* 이름 및 시간 */
.box-label{
    /* border-bottom: 1px solid var(--line-color); */
    border-top: 1px solid var(--line-color);

    /* padding-bottom: 5px; */
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 이름 */
/* .member-nickname{
    width: 115px;
    font-size: var(--main-font-size);
    color: var(--main-font-color);

    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
} */

/* 시간 */
.last-chat-time{
    width: 70px;
    font-size: var(--small-font-size);
    color: var(--sub-font-color);
    letter-spacing: -1px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* 채팅내용(1줄까지) */
.last-chat-content{
    font-size: var(--small-font-size);
    color: var(--main-font-color); 
    width: 100px;
    letter-spacing: -1px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* 상품 한줄소개 */
.chat-sidebar .room-title{
    font-weight: 600;
    font-size: var(--main-font-size);
    width: 150px;
    color: var(--main-font-color); 

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* 읽지 않은 채팅 개수 */
.unread-chat-count{
    width: 20px;
    height: 20px;
    background-color: rgb(250, 83, 83);
    color: white;
    font-size: var(--small-font-size);
    border-radius: 50%;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    /* bottom: 8px; */
    bottom: 40px;
    right: 10px;
}

/* 승인 및 거절 버튼 */
.invite-btn-area{
    width: 150px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invite-reject-btn{
    width: 70px;
    background-color: red;
    color: white;
    font-weight: 600;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.invite-reject-btn:hover{
    opacity: 0.9;
}

.invite-agree-btn{
    width: 70px;
    background-color: var(--point-color);
    color: white;
    font-weight: 600;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.invite-agree-btn:hover {
    opacity: 0.9;
}

/* 채팅박스 hover */
.chat-preview-box:hover{
    transform: translateY(-2px);
    transition-duration: 0.3s;
    background-color: #fafafa;
}

/* .chat-preview-box:hover .box-label{
    transition-duration: 0.3s;
    height: 91px;
} */

/* .chat-preview-box:hover .member-nickname{
    -webkit-line-clamp: 3;
} */

/* .chat-preview-box:hover .last-chat-content{
    height: 0;
} */

/* .chat-preview-box:hover .enter-icon{
    display: flex;
} */

/* 채팅방 */
.chat-room{
    background-color: #2b8c4410;
    border-radius: 10px;

    width: 740px;
    height: 670px;

    position: relative;
}

/* 채팅방 라벨(사진 + 이름 + 구매버튼 + 설정) */
#roomLabel{
    border-left: 3px solid #2b8c4410;
    border-right: 3px solid #2b8c4410;
    border-bottom: 3px solid #2b8c4410;

    border-radius: 10px;
    width: 100%;

    background-color: white;
    min-height: 80px;

    margin-top: 20px;

    padding: 20px 10px;
    display: flex;

    transition-duration: 0.2s;

    position: absolute;

    z-index: 5;
}


/* 채팅방 라벨 사진 */
#roomThumbnailImg{
    width: 50px;
    height: 50px;

    margin-right: 10px;
    margin-top: 9px;

}

#roomThumbnailImg > img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* 채팅방 라벨 제목 */
#roomTitle{
    width: 500px;
    min-height: 60px;
    color: var(--main-font-color);
    font-size: var(--main-font-size);

    display: flex;
    align-items: center;

    margin-right: 30px;
}

/* 채팅방 라벨 : 접힘 */
.label-flex{
    display: flex;
    align-items: center;
}

.label-fold{
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.label-spread{
    height: auto important!;
}

/* 채팅방 라벨 : 펼침 */

/* 채팅방 라벨 버튼 */
#purchaseBtn{
    font-size: var(--small-font-size);
    color: white;

    border: none;
    border-bottom: 1px solid black;
    border-radius: 5px;

    width: 70px;
    height: 30px;
    background-color: #2b8c44;

    margin-top: 20px;

    display: none;
    justify-content: center;
    align-items: center;
}

#purchaseBtn:hover{
    opacity: 0.9;
    transition-duration: 0.1s;
}


/* 설정 버튼 */
#roomEditBtn{
    font-size: var(--medium-font-size);
    color: var(--sub-font-color);

    width: 30px;
    height: 30px;
    
    margin-left: 5px;
    margin-top: 20px;
    
    position: absolute;
    right: 20px;

    background-color: transparent;
    border: none;

    transition-duration: 0.1s;
}

#roomEditBtn:hover{
    color: var(--point-color);;
}

/* 설정 버튼 드롭다운 */
#roomEditDropdown{
    font-size: var(--small-font-size);
    background-color: white;

    border-radius: 10px;

    top: 65px;
    right: 35px;

    border: 1px solid var(--line-color);

    align-items: center;

    position: absolute;
    z-index: 10;

    overflow: hidden;

    transition-duration: 0.3s;
}

.dropdown-fold{
    display: none;
}

.dropdown-spread{
    display: flex;
}

.roomEditDropdownMenu{
    width: 70px;
    height: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.roomEditDropdownMenu:hover{
    color: var(--point-color);
    font-weight: 600;

}

#roomEditDropdown li:not(#roomEditDropdown li:last-child){
    border-bottom: 1px solid var(--line-color);
}


/* 회전 버튼 */
#spreadBtn{
    background-color: white;
    background-color: transparent;
    border: none;

    display: none;
    
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

    transition-duration: 0.5s;
}

.spreadBtn-rotate{
    transform: rotate(180deg);
}


/* 채팅방 메인 */
#roomBody{
    /* background-color: white; */
    width: 740px;
    margin-top: 20px;
    height: 515px;

    border-left: 3px solid #2b8c4410;
    border-right: 3px solid #2b8c4410;

    position: absolute;
    bottom: 5px;

}

/* 메세지 읽기 영역 */
#readingArea{
    height: 470px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    transition-duration: 0.3s;
}

/* 날짜 라벨 */
.date-label-line{
    position: relative;
    width: 100%;
    border: 1px solid white;

    margin: 30px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.date-label{
    background-color: var(--point-color);
    border-radius: 20px;
    color: white;


    padding: 5px 10px;
    position: absolute;
    margin: 0;
    margin: auto;


    display: flex;
    align-items: center;
    justify-content: center;
}

/* 수신 채팅 */
.received-chat{
    width: 50%;
    min-height: 50px;
    height: auto;

    padding: 10px;

    display: flex;

    position: relative;
}

.sender-profile-img{
    width: 50px;
    height: 50px;
}

.sender-profile-img > img{
    border: 1px solid var(--line-color);
    border-radius: 50%;
    
    width: 50px;
    height: 50px;
    
    padding: 1px;
}

/* 발신 채팅 */
.sent-chat{
    width: 45%;
    min-height: 50px;
    height: auto;

    padding: 10px;
    margin-left: 53%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    position: relative;
}

/* 발신자 이름 */
.sender-name{
    font-size: var(--main-font-size);
    color: var(--main-font-size);
    position: absolute;
    left: 80px;
    top: 13px;
}

/* 메세지 버블버블 */
.received-bubble{
    font-size: var(--main-font-size);
    background-color: white;
    border-radius: 10px;
    width: auto;

    min-height: 50px;
    height: auto;

    margin-top: 30px;
    margin-left: 20px;

    padding: 10px;
    display: flex;
    align-items: center;

    position: relative;
}

.sent-bubble{
    font-size: var(--main-font-size);
    background-color: white;
    border-radius: 10px;
    width: auto;

    min-height: 50px;
    height: auto;

    margin-right: 20px;

    padding: 10px;
    display: flex;
    align-items: center;

    position: relative;
}

/* 주고 받은 사진 */
.sent-bubble > img{
    background-color: white;
    border-radius: 10px;
    /* width: 200px; */
    height: 200px;
    padding: 10px;
}

.received-bubble > img{
    background-color: white;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    padding: 10px;
}

/* 메세지 꼬리 */
.received-bubble-tail{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid white;

    top: 40px;
    left: 47px;
    
    position: absolute;
}

.sent-bubble-tail{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid white;
    border-right: 20px solid transparent;

    bottom: 18px;
    right: -4px;
    
    position: absolute;
}

/* 메세지 시간 */
.received-bubble-time{
    font-size: var(--small-font-size);

    bottom: 2px;
    right: -60px;
        
    position: absolute;
}

.sent-bubble-time{
    font-size: var(--small-font-size);
    
    bottom: 2px;
    left: -60px;

    position: absolute;
}

/* 읽음 여부 */
.sent-bubble-read-fl{
    font-size: var(--small-font-size);

    bottom: 17px;
    left: -52px;

    position: absolute;
}

/* 하단 이동 버튼 */
#bottomBtn{
    background-color: white;

    width: 40px;
    height: 40px;
    border-radius: 50%;

    position: absolute;
    right: 45px;
    bottom: 70px;

    z-index: 30;

    display: none;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition-duration: 0.2s;
}

#bottomBtn:hover{
    color: var(--point-color);
}

#bottomBtn:active{
    opacity: 0.7;
}


/* 입력창 */
#writingArea{
    width: 100%;
    height: 35px;
    margin: 10px 3px 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    bottom: 8px;
}

#addImageBtn{
    background-color: white;
    border: none;

    border: none;
    border-radius: 10px;
    height: 35px;
    width: 5%;
    margin-left: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition-duration: 0.2s;
}

#addImageBtn:hover{
    color: var(--point-color);
}

#addImageBtn:active{
    opacity: 0.7;
}

#addImageBtn > input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

#inputBox{
    background: white;
    border-radius: 5px;

    height: 35px;

    border: none;
    border-radius: 10px;
    outline: none;
    padding: 0px 10px;

    margin: 0px 5px;
    
    width: 90%;
}

#inputImgPreviewBox{
    display: none;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: absolute;

    padding: 10px;

    border-radius: 10px;
    bottom: 50px;
    left: 45px;
    width: 320px;
    height: 240px;
    /* height: 0; */
    /* opacity: 0; */
    transition-duration: 0.2s;
    box-shadow: 2px 2px 10px 0px #bcbcbc;
}

#inputImgPreviewBoxHeader{
    background-color: var(--point-color);
    border-radius: 5px;
    padding: 0px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#inputImgPreviewBoxHeader > span{
    font-size: var(--main-font-size);
    color: white;
    font-weight: 600;
}

#inputImgPreviewDelBtn{
    color: white;
}

#inputImgPreviewDelBtn:hover{
    opacity: 0.8;
}

#inputImgPreview{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 320px; */
    height: 180px;
}

#sendImgBtn{
    background-color: var(--point-color);
    border-radius: 5px;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    cursor: pointer;
}

#sendImgBtn:hover{
    opacity: 0.8;
}

#sendBtn{
    color: white;
    background-color: var(--point-color);
    
    font-size: var(--medium-font-size);

    border: none;
    border-radius: 10px;
    height: 35px;
    width: 5%;
    margin-right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition-duration: 0.2s;
}

#sendBtn:hover{
    color: var(--main-font-color);
}

#sendBtn:active{
    opacity: 0.7;
}

/* 채팅이 없는 경우 */
#roomBodyBlinder{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 30;
    background-color: #e3f0e7;
    border-radius: 10px;
}

#emptyChat{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 31;
}

#emptyChatIcon{
    width: 130px;
    height: 130px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 2px 2px 10px 0px #bcbcbc;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#emptyChatIcon > i{
    color: var(--point-color);
    font-size: 60px;
}

#emptyDetail{
    color: var(--sub-font-color);
    font-size: var(--medium-font-size);
    text-align: center;
}