
/* 모달창 전체 */
.chatRoom-menu-container{
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-background-color);

  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--main-font-size);
  font-family: "NotoSansKR-Bold";

  z-index: 50;
}

/* 공통 */
.chatRoom-menu-title{
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--line-color);
}

.chatRoom-menu-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-confirm-btn{

}

.hide-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
}

.hide-btn:hover{
  color: var(--point-color);
}

/* 정보보기 */
.info-menu{
  background-color: white;
  width: 300px;
  height: 280px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: 5px;
}

#infoBody{
  height: 200px;
  overflow-y: scroll;
}

#infoBody > span:first-child{
  width: 70px;
  height: 30px;
  background-color: var(--point-color);
  color: white;
  border-radius: 10px;
  margin: 10px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* #infoBody::-webkit-scrollbar{
    display: none;
} */

/* 초대하기 */
.invite-menu{
  background-color: white;
  width: 270px;
  height: 220px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: 5px;
}
  
#inviteBody > span:first-child{
  width: 70px;
  height: 30px;
  background-color: var(--point-color);
  color: white;
  border-radius: 10px;
  margin: 10px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.member-list {
  width: 100%;
  padding: 10px 20px;
}

.search-nickname-box{
  margin: 10px 0px;
}

#inviteMenuNotice{
  margin: 10px 0px;
}

/* 한 칸 */
.info-body-row{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

/* 프로필 이미지 */
.info-member-profile-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.info-member-profile-img > img{
  width: 100%;
  height: 100%;
}


/* 나가기 */
.exit-menu {
  background-color: white;
  width: 270px;
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: 5px;
}

#exitNotice{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 10px 0px;
}

/* 삭제하기 */
.delete-menu {
  background-color: white;
  width: 270px;
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: 5px;
}

#deleteNotice{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 10px 0px;
}

/* 신고하기 */
.report-menu {
  background-color: white;
  width: 270px;
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: 5px;
}

#reportNotice{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 10px 0px;
}



/* 버튼 */
.menu-confirm-btn {
  width: 55%;
  height: 40px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-confirm-btn > button {
  width: 70px;
  height: 30px;
  border: none;
  font-weight: bold;
  transition-duration: 0.2s;
}

.menu-confirm-btn > button:hover {
  opacity: 0.9;
}

.menu-confirm-btn > button:last-child {
  background-color: var(--point-color);
  color: white;
}

