@import "../root-style.css";

.order-detail-section{
  width: 800px;
  border: 1px solid black;
}

.order{
  padding: 20px;
}

.detail-top{
  font-weight: bold;
  background-color: var(--point-color);
  color: #fff;
  height: 35px;
  padding: 5px 0 0 15px;
  width: 100%;
}

.order-detail {
  font-size: var(--small-font-size);
}

.detail-title{
  border-bottom: 1px solid #ddd;
  font-weight: bolder;
  height: 30px;
  font-size: var(--main-font-size);
}

.order-detail-top{
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 3px;
}

.order-detail-top>div{
  margin-right: 20px;
}

.small-title{
  color: var(--point-color);
  font-weight: 800;
  margin-right: 3px;
}



table{
  background-color: #fff;
  
  border: 1px solid #ddd;
  border-collapse: collapse;

  font-size: var(--small-font-size);
}

td, tr{
  border: 1px solid #ddd;
  border-collapse: collapse;
}

.order-detail-table{
  width: 100%;
  margin: 10px auto;

}


.orderer-detail-table{

}

#orderStatus{
  font-size: var(--small-font-size);
  border: none;
}

[name=invoiceNo]{
  font-size: var(--small-font-size);
  border: none;
}

.order-table-row>*:nth-child(1){width: 35%;}
.order-table-row>*:nth-child(2){width: 10%;}
.order-table-row>*:nth-child(3){width: 5%;}
.order-table-row>*:nth-child(4){width: 7%;}
.order-table-row>*:nth-child(5){width: 10%;}
.order-table-row>*:nth-child(6){width: 10%;}
.order-table-row>*:nth-child(7){width: 13%;}