@import '../root-style.css';

/* 알림 컨테이너 */
.alarm-receiver-container{
    position: fixed;
    z-index: 30000;
    bottom: -100px;
    right: 130px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0px #bcbcbc;
    background-color: white;

    width: 300px;
    /* height: 200px; */
    height: 0px;

    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;

    padding: 5px;

    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;

    transition-duration: 0.7s;
}
/* 알림 헤더 */
.alarm-receiver-header{
    border-radius: 5px;
    background-color:var(--point-color);

    height: 30px;
    width: 290px;

    display: flex;
    align-items: center;
}

/* 알림 아이콘 */
.alarm-receiver-icon{
    color: white;

    width: 10%;
    text-align: center;
}

/* 알림 제목 */
.alarm-receiver-title{
    color: white;

    width: 90%;
}

/* 알림 내용 */
.alarm-receiver-content{
    font-size: var(--medium-font-size);
    height: 50px;
    width: 290px;
    padding: 5px;

    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    
    overflow: hidden;
}