@import "../root-style.css";

main{
    width: 1000px;
    margin: auto;
    margin-bottom: 80px;
}

/* 커뮤니티 상단 제목 */
.board-top{
    height: 140px;
}
.board-top-title{
    display: flex;
    justify-content: center;
    font-size: var(--headline-font-size);
    height: 100%;
    align-items: center;
    /* border: 1px solid var(--line-color); */
}

/* 커뮤니티 네브 */
.board-nav{
    font-size: 20px;
    border-top: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
    height: 70px;
}
.board-nav-area{
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 160px;
    align-items: center;
}
.board-nav-area > span{
    height: 100%;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .board-nav-area >span:hover{
    color: var(--point-color);
    cursor: pointer;
    font-weight: bold;
} */
.nowType{
    height: 100%;
    border-bottom: 3px solid var(--point-color);
}

/* 작성자 정보 */
.board-title-area{
    height: 130px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--line-color);
    padding: 0 30px;
}
.writer-img{
    width: 73px;
    height: 73px;
    border-radius: 50%;
    /* border: 1px solid black; */
    overflow: hidden;
    /* margin-left: 20px; */
    display: flex;
    align-items: center;
}
.writer-img > img{
    width: 100%;
    height: 100%;
}
.proImg{
    width: 100%;
    height: 100%;
}
.writer-ect{
    width: 141px;
    margin: auto 15px;
    font-size: var(--main-font-size);
    color: var(--sub-font-color);
}

/* 게시판 제목 */
.board-title{
    width: 580px;
    font-weight: bold;
    margin-left: 15px;
}
.goList{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--point-color);
    color: white;
    border: none;
    letter-spacing: 2px;
    font-size: var(--medium-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* 게시판 내용+이미지 섹션 */
.board-content-area{
    color: var(--main-font-color);
    border-bottom: 1px solid var(--line-color);
    min-height: 500px;
    max-height: 100%;
    padding: 30px 60px;
}

/* 게시판 내용 */
.board-content{
    margin-bottom: 30px;
}

/* 게시판 첨부 이미지 */
.board-img-area{
    display: flex;
    justify-content: space-between;
}
.board-img{
    width: 180px;
    height: 180px;
    border: 1px solid var(--line-color);
    margin: 10px 3px;
    position: relative;;
}
.board-img > img{
    width: 100%;
    height: 100%;
}

/* 좋아요 신고 부분 */
.board-like-report{
    border-bottom: 1px solid var(--line-color);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    color: var(--sub-font-color);
    padding: 0 160px;
}
.board-like-report>button{
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 0 60px;
    cursor: pointer;
    margin: 0 50px;
    border: none;
    background-color: white;
    font-size: var(--medium-font-size);
}
.board-like-report>button:hover{
    color: var(--point-color);
    font-weight: 600;
}
.board-like{
    align-items: center;
}
.checkLike{
    color: red;
}

/* 댓글부분 */
/* 댓글 전체 */
.comment-count{
    font-size: var(--large-font-size);
    margin-bottom: 15px;
    color: var(--point-color);
}
.comment-area{
    border-bottom: 1px solid var(--line-color);
    padding: 30px 40px;
    color: var(--main-font-color);
}
/* 댓글 쓰기 */
.comment-write{
    display: flex;
    margin-bottom: 30px;
}
.write-comment{
    resize: none;
    width: 850px;
    height: 95px;
    margin: auto;
    line-height: 1.5;
    letter-spacing: 1px;
    border: 1px solid var(--sub-font-color);
    padding: 8px;
}
.comment-content > div{
    width: 100%;
}
.comment-insert{
    width: 75px;
    height: 95px;
    margin: auto;
    /* border-radius: 5px; */
    /* border: 1px solid var(--point-color); */
    background-color: white;
    font-size: var(--main-font-size);
    letter-spacing: 3px;
    line-height: 23px;
    
    border: none;
    background-color: #ddd;
}
/* 댓글 부분 */
.comment-row{
    /* margin-bottom: 20px; */
    border-bottom: 1px solid var(--point-color);
    padding: 20px 0;
}
.comment-writer{
    display: flex;
    margin: auto 0;
    align-items: center;
    height: 60px;
}
.emptyComment{
    justify-content: center;
    color: var(--sub-font-color);
}
.writer-profile{

    border-radius: 50%;
    /* border: 1px solid black; */
    overflow: hidden;
    margin: auto 10px;
}
.writer-name{
    width: 640px;
}
.comment-like{
    text-align: end;
    cursor: pointer;
    margin: 0 20px;
    color: var(--sub-font-color);
    cursor: pointer;
}
.comment-content{
    padding: 10px 20px;
}
.comment-child{
    padding-left: 50px;
}
.writer-time-reply{
    font-size: var(--main-font-size);
    color: var(--sub-font-color);
    padding-left: 20px;
    margin-bottom: 15px;
}
.comment-reply{
    border: none;
    background-color: white;
    color: var(--sub-font-color);
}



/* 답글달기 부분 */
.comment-co{
    width: 100%;
}
.comment-co-content{
    width: 850px;
    resize: none;
    height: 75px;
    margin-left: 19px;
    display: flex;
    font-size: var(--main-font-size);
    padding: 8px;
    border-radius: 10px;
    border: 1px solid var(--point-color);
    margin-bottom: 5px;
    cursor: auto;
}
.comment-co-content:focus{
    outline: none;
}
.co-btn-area{
    display: flex;
    justify-content: end;
    padding-right: 50px;
}
.send-co, .cancle-co{
    font-size: var(--small-font-size);
    width: 95px;
    height: 35px;
    border-radius: 10px;
    /* border: 1px solid var(--point-color); */
    background-color: white;
    margin-left: 5px;
}
.send-co{
    border: none;
    background-color: var(--point-color);
    color: white;
}
.cancle-co{
    border: 1px solid var(--sub-font-color);
    color: var(--sub-font-color);
}

/* textarea에 스크를 디자인 해봤어요~ 
    cursor는 이 textarea에 cursor:auto를 주면 해결! */
.comment-co-content::-webkit-scrollbar{
    width: 12px;
}
.comment-co-content::-webkit-scrollbar-thumb{
    height: 30%;
    background-color: var(--point-color);
    border-radius: 10px;
}
.comment-co-content::-webkit-scrollbar-track{
    background: #ddd;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}


.child-img{
    width: 50px;
    height: 50px;
}
.parent-img{
    width: 60px;
    height: 60px;
}

.child-content{
    font-size: var(--main-font-size);
}


.updateText{
    resize: none;
    width: 800px;
    height: 100px;
}