@import "../root-style.css";

main{
    width: 1000px;
    margin: auto;
    margin-bottom: 80px;
}

/* 커뮤니티 상단 제목 */
.board-top{
    height: 140px;
}
.board-top-title{
    display: flex;
    justify-content: center;
    font-size: var(--headline-font-size);
    height: 100%;
    align-items: center;
    /* border: 1px solid var(--line-color); */
}

/* 커뮤니티 네브 */
.board-nav{
    font-size: 20px;
    border-bottom: 1px solid var(--line-color);
    height: 70px;
}
.board-nav-area{
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 160px;
    align-items: center;
}
.board-nav-area > a{
    height: 100%;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board-nav-area >a:hover{
    color: var(--point-color);
    cursor: pointer;
}
.nowType{
    border-bottom: 3px solid var(--point-color);
}

/* 작성자 정보 */
.board-title-area{
    height: 130px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--line-color);
    padding: 0 30px;
    flex-direction: column;
}
.writer-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.writer-img > img{
    width: 100%;
    height: 100%;
}
.proImg{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.writer-ect{
    width: 735px;
    margin: auto 15px;
    font-size: 13px;
    color: var(--sub-font-color);
}

/* 게시판 제목 */
.board-title{
    width: 580px;
    font-weight: bold;
    margin-left: 15px;
    font-size: var(--large-font-size);
    height: 65px;
    display: flex;
    align-items: center;
}
.goList{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background-color: var(--point-color);
    color: white;
    border: none;
    letter-spacing: 2px;
    font-size: var(--main-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* 게시판 내용+이미지 섹션 */
.board-content-area{
    color: var(--main-font-color);
    border-bottom: 1px solid var(--line-color);
    min-height: 500px;
    max-height: 100%;
    padding: 30px 60px;
}

/* 게시판 내용 */
.board-content{
    margin-bottom: 30px;
}

/* 게시판 첨부 이미지 */
.board-img-area{
    display: flex;
    justify-content: space-between;
}
.board-img{
    width: 180px;
    height: 180px;
    overflow: hidden;
    border: 1px solid var(--line-color);
    margin: 10px 3px;
    position: relative;;
}
.board-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 좋아요 신고 부분 */
.board-like-report{
    border-bottom: 1px solid var(--line-color);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    color: var(--sub-font-color);
    padding: 0 160px;
    justify-content: center;
}
.board-like-report>button{
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 0 60px;
    cursor: pointer;
    margin: 0 50px;
    border: none;
    background-color: white;
    font-size: var(--medium-font-size);
}
.board-like-report>button:hover{
    color: var(--point-color);
    font-weight: 600;
}
.board-like{
    align-items: center;
}
.checkLike{
    color: red;
}

/* 댓글부분 */
/* 댓글 전체 */
.comment-count{
    font-size: var(--large-font-size);
    margin-bottom: 15px;
    color: var(--point-color);
}
.comment-area{
    border-bottom: 1px solid var(--line-color);
    padding: 30px 40px;
    color: var(--main-font-color);
}
/* 댓글 쓰기 */
.comment-write{
    display: flex;
    margin-bottom: 30px;
}

.comment-form{
    border: 1px solid var(--sub-font-color);
}

.write-comment{
    resize: none;
    width: 920px;
    height: 95px;
    margin: auto;
    line-height: 1.5;
    letter-spacing: 1px;
    padding: 8px;
    cursor: auto;
    border: none;
}
.write-comment:focus{
    border: none;
    outline: 1.5px solid var(--point-color);
}
.comment-content > div{
    width: 100%;
}

.comment-side{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--sub-font-color);
    margin-top: -5px;
    height: 45px;
}

.comment-caution{
    width: 680px;
    padding-left: 20px;
    padding-top: 10px;
    color: var(--sub-font-color);
}
.lockCheck{
    accent-color: var(--point-color);
    display: flex;
    align-items: center;
    margin-top: 2px;
}

.secrete-co{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--sub-font-color);
}

.comment-insert{
    width: 135px;
    height: 46px;
    background-color: var(--point-color);
    font-size: var(--medium-font-size);
    letter-spacing: 3px;
    line-height: 23px;
    color : var(--background-color);
    border: none;
    font-family: "NotoSansKR-Bold";
    margin-right: -1px;
    margin-top: -1px;
}
/* 댓글 부분 */
.comment-row{
    border-bottom: 1px solid var(--point-color);
    padding: 20px 0;
    /* background-color: #2b8c430f; */

}
.comment-writer{
    display: flex;
    margin: auto 0;
    align-items: center;
    height: 60px;
}
.emptyComment{
    justify-content: center;
    color: var(--sub-font-color);
}
.writer-profile{
    border-radius: 50%;
    overflow: hidden;
    margin: auto 10px;
}
.writer-name{
    width: 640px;
}
.comment-like{
    text-align: end;
    cursor: pointer;
    margin: 0 20px;
    color: var(--sub-font-color);
    cursor: pointer;
}
.comment-content{
    padding: 10px 20px;
}
.comment-child{
    padding-left: 65px;
    background-color: white;
}
.writer-time-reply{
    font-size: var(--main-font-size);
    color: var(--sub-font-color);
    padding-left: 20px;
    margin-bottom: 15px;
}
.comment-reply{
    border: none;
    background-color: white;
    color: var(--sub-font-color);
}



/* 답글달기 부분 */
.comment-co{
    width: 100%;
}
.comment-co-content{
    resize: none;
    height: 75px;
    margin-left: 19px;
    display: flex;
    font-size: var(--main-font-size);
    padding: 8px;
    border-radius: 10px;
    border: 1px solid var(--point-color);
    margin-bottom: 5px;
    cursor: auto;
}
.comment-co-content:focus{
    outline: none;
}
.co-btn-area-p{
    display: flex;
    justify-content: end;
    padding-right: 50px;
}
.co-btn-area-c{
    display: flex;
    justify-content: end;
    padding-right: 35px;
}
.send-co, .cancle-co, .pa-update, .pa-cancle{
    font-size: var(--small-font-size);
    width: 95px;
    height: 35px;
    border-radius: 10px;
    /* border: 1px solid var(--point-color); */
    background-color: white;
    margin-left: 5px;
}
.send-co, .pa-update{
    border: none;
    background-color: var(--point-color);
    color: white;
}
.cancle-co, .pa-cancle{
    border: 1px solid var(--sub-font-color);
    color: var(--sub-font-color);
}
.pa-textarea{
    width: 850px;
}
.ch-textarea{
    width: 800px;
}


/* 댓글의 부모, 자식 이미지 크기 */
.child-img{
    width: 50px;
    height: 50px;
}
.parent-img{
    width: 60px;
    height: 60px;
}

.child-content{
    font-size: var(--main-font-size);
}

/* 수정용 부모 textarea */
.update-parent{
    resize: none;
    width: 850px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid var(--point-color);
    padding: 8px;
    font-size: var(--medium-font-size);
    cursor: auto;
}
.update-parent:focus{
    outline: none;
}
/* 수정용 자식 textarea */
.update-child{
    resize: none;
    width: 800px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid var(--point-color);
    padding: 8px;
}
.update-child:focus{
    outline: none;
}

/*  */
.update-parent-btn{
    display: flex;
    justify-content: end;
    padding-right: 30px;
}




/* textarea에 스크를 디자인 해봤어요~ 
    cursor는 이 textarea에 cursor:auto를 주면 해결! */
.write-comment::-webkit-scrollbar{
    width: 12px;
}
.write-comment::-webkit-scrollbar-thumb{
    height: 30%;
    background-color: var(--point-color);
    border-radius: 10px;
}
.write-comment::-webkit-scrollbar-track{
    background: #ddd;
}

.comment-co-content::-webkit-scrollbar{
    width: 12px;
}
.comment-co-content::-webkit-scrollbar-thumb{
    height: 30%;
    background-color: var(--point-color);
    border-radius: 10px;
}
.comment-co-content::-webkit-scrollbar-track{
    background: #ddd;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.update-parent::-webkit-scrollbar{
    width: 12px;
}
.update-parent::-webkit-scrollbar-thumb{
    height: 30%;
    background-color: var(--point-color);
    border-radius: 10px;
}
.update-parent::-webkit-scrollbar-track{
    background: #ddd;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.temptemp{
    display: flex;
    width: 100%;
    margin-left: 15px;
}


/* 비밀댓글 자물쇠 아이콘 색 */
.fa-lock{
    color: var(--point-color);
}