@import "../root-style.css";

main{
    width: 1000px;
    margin: auto;
    margin-bottom: 80px;
}

/* 커뮤니티 상단 제목 */
.board-top{
    height: 140px;
    border-bottom: 1px solid var(--line-color);
}
.board-top-title{
    display: flex;
    justify-content: center;
    font-size: var(--headline-font-size);
    height: 100%;
    align-items: center;
}

/* 카테고리 선택 부분 */
.board-category{
    height: 70px;
    width: 100%;
    padding-left: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--line-color);
    white-space: nowrap;
}
.board-category-area{
    width: 650px;
    display: flex;
    margin-right: 140px;
    height: 100%;
}
.category{
    width: 170px;
    text-align: center;
    font-weight: bold;
}
.board-category-area > span{
    margin: auto 0;
}
.board-category-area > label{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid white;
    width: 110px;
}
input[type="radio"]{
    appearance: none;
    margin: 0;
    cursor: pointer;
}
input[type="radio"]:checked + label{
    border-bottom: 3px solid var(--point-color);
}
.board-submit{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--point-color);
    color: white;
    border: none;
    letter-spacing: 2px;
    font-size: var(--medium-font-size);
}

/* 글쓰기 제목 */
.board-write{
    padding: 30px 120px;
    border-bottom: 1px solid var(--line-color);
}
.write-title{
    padding: 0 10px 10px;
    border-bottom: 1px solid var(--line-color);
    font-weight: bold;
}
.input-write-title{
    padding-left: 10px;
    width: 600px;
    border: none;
    font-size: var(--medium-font-size);
}
.input-write-title:focus{}
.write-title:focus-within{
    border-bottom: 1px solid var(--point-color);
}

/* 글쓰기 내용 */
.write-content{
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    height: 400px;
    resize: none;
    /* line-height: 1.5px; */
    letter-spacing: 1px;
    border: 1px solid var(--line-color);
}
.write-content:focus{
    outline: none;
    border: 1px solid var(--point-color);
}

/* 이미지 첨부하기 */
.board-img-ex{
    border-bottom: 1px solid var(--point-color);
    padding: 10px;
}
.board-img-area{
    display: flex;
    justify-content: space-between;
}
.board-img{
    width: 180px;
    height: 180px;
    border: 1px solid var(--line-color);
    margin: 10px 3px;
    position: relative;;
}
.board-img > label{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: var(--main-font-size);
    color: var(--sub-font-color);
    overflow: hidden;
}
.board-input-img{
    display: none;
}
.board-img-delete{
    position: absolute;
    top: 0;
    right: 7px;
    font-size: var(--title-font-size);
    cursor: pointer;
}
.board-img-delete:hover{
    color: red;
}
.board-preview{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 로그인 모달창 */
.hide {
    display: none;
    opacity: 0;
  }