@import '../root-style.css';

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.header-container {
    z-index: 2;
    position: sticky;
    top: -120px;
    transition-duration: 0.3s;
}

/* nav custom : nav 부착 검색창 */
#navSearchBar {
    height: 40px;

    border: 1px solid var(--point-color);
    border-radius: 5px;
    padding: 10px;

    align-items: center;
    justify-content: center;
}

.view-hidden {
    display: none;
}

.view-flex {
    display: flex;
}

/* banner */
.banner {
    margin-top: 10px;
    width: 1000px;
    height: 600px;

    background-color: white;
    display: flex;
    flex-direction: column;
}

/* 배너 > 광고 영역 */

/* 스와이퍼 사용 */
.swiper {
    width: 1000px;
    height: 400px;
    border-radius: 10px;
}

/* 배너 > 광고 영역 > 사진 */
.swiper img {
    width: 1000px;
    transform: translateY(-150px);
}

/* 버튼 꾸미기 */
.swiper-pagination-bullet-active {
    background: white;
}

.swiper-button-prev {
    left: 85.5%;
}

.swiper-button-next {
    left: 89%;
}

.swiper-button-prev,
.swiper-button-next {
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    width: 30px;
    height: 30px;
    border-radius: 10px;
    top: 95%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 10px;
}

.swiper-pagination-fraction {
    color: white;
    background-color: rgb(0, 0, 0, 0.8);

    font-size: var(--small-font-size);

    width: 50px;
    height: 30px;
    left: 93%;

    border-radius: 10px;

    margin-bottom: 2.5px;

    display: flex;
    align-items: center;
    justify-content: center;
}



/* 배너 > 광고영역 끝 */

/* 배너 > 검색 */
.search-area {
    background-color: white;
    width: 100%;
    height: 200px;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title {
    color: var(--main-font-color);
    font-size: var(--headline-font-size);

    height: 80px;
    display: flex;
    align-items: center;
}

/* 검색 영역 */
#searchBar {
    border: 1px solid var(--point-color);
    width: 400px;
    height: 40px;
    padding: 5px 10px;
    margin-top: 10px;

    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#searchBar:focus-within {
    border: 3px solid var(--point-color);
}

.keyword {
    color: var(--main-font-color);
    border: none;
    flex-basis: 90%;

    outline: none;
    width: 100%;
}

.reset-search {
    flex-basis: 5%;
    margin-right: 5px;
    display: none;
}

.search-btn {
    height: 100%;
    background-color: white;
    border: none;
    flex-basis: 5%;
}

.reset-search {
    cursor: pointer;
}


/* container */
.container {
    width: 1000px;
    min-height: 800px;

    display: flex;

    position: relative;

    margin-bottom: 50px;
}

/* 카테고리 영역 */
/* category-area */
.category-area {
    width: 180px;
    height: 100%;

    display: flex;
    flex-direction: column;
    padding: 10px 40px 10px 0;

    /* 카테고리 영역 고정시키기 */
    position: sticky;
    top: 50px;
}


.area-title {
    font-size: var(--medium-font-size);
    color: var(--main-font-color);
    font-weight: 600;
    border-bottom: 1px solid var(--line-color);
    padding: 10px 0px;
}



/* 상위 카테고리 */
.sur {
    font-weight: 900;
    font-size: var(--medium-font-size);
    color: var(--main-font-color);
    height: 30px;

    margin: 10px 0px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--line-color);
}


/* 세부 카테고리 */
.category-dropdown {
    font-size: var(--small-font-size);
    color: var(--sub-font-color);
    display: flex;
    flex-wrap: wrap;
}

.category-dropdown>input {
    display: none;
}


.category-dropdown>label {
    width: 90%;
    margin-bottom: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.category-dropdown>input:hover+label {
    color: var(--point-color);
}

.category-dropdown>input:active+label {
    opacity: 0.8;
}

.category-dropdown>input:checked+label {
    font-weight: 900;
    color: var(--point-color);
}

/* 전체선택 버튼 */
#all{
    display: none;
}

#allCategory{
    font-weight: 900;
    font-size: var(--medium-font-size);
    color: var(--main-font-color);
    height: 30px;

    margin: 10px 0px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#allCategory:hover{
    font-weight: 600;
}

#all:checked + #allCategory{
    color: var(--point-color);
    font-weight: 600;
}

/* 카테고리 - 초기화 버튼 */
.reset-category {
    display: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-left: 10px;
}

.reset-category>* {
    font-size: var(--small-font-size);
    color: var(--main-font-color);
}


/* list-area */
.list-area {
    display: flex;
    flex-direction: column;
    width: 820px;
    min-height: 600px;
}

.list-area-header {
    height: 50px;
    width: 100%;

    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#listCount {
    color: var(--point-color);
    font-weight: 600;
}

.view-option {
    color: var(--sub-font-color);
    font-size: var(--small-font-size);

    display: flex;
    justify-content: space-between;

}

.view-option>span {
    margin: 0px 5px;
}


/* view-options */
input[name='sorting'] {
    display: none;
}

input[name='sorting']:checked+label {
    color: var(--main-font-color);
    font-weight: 600;
}

.opt {
    cursor: pointer;
}

.opt:hover {
    color: var(--main-font-color);
}


/* list-area-body */
/* 상품 하나하나가 들어갈 영역 */
.list-area-body {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-height: 1000px;

    position: relative;
}


/* post-container */
.post-box {
    width: 32%;
    height: 400px;
    margin-bottom: 18px;
    margin: 5px;

    cursor: pointer;
    position: relative;
}

.post-box:hover {
    transform: translateY(-3px);
}

.post-thumbnail {
    height: 250px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.post-thumbnail>img {
    width: 100%;
    height: 100%;
}

.post-detail {
    padding-top: 10px;
}

.post-title {
    font-size: var(--medium-font-size);
    font-weight: 600;
    color: var(--main-font-color);
    min-height: 20px;
    max-height: 50px;

    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;



    /* 
        display: -webkit-box : 여백 삽입과 같이 유연한 높이 증가를 위해 플렉스 박스형태로 변환
        -webkit-line-clamp: 3 : 보여줄 줄 갯수
        -webkit-box-orient: vertical : 플렉스 박스의 방향 설정
    */

}

.unit-price {
    font-size: var(--small-font-size);
    font-weight: 600;
    color: var(--sub-font-color);
    margin-bottom: 5px;
}

.post-content {
    font-size: var(--small-font-size);
    color: var(--sub-font-color);

    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.sold-out-blind{
    width: 100%;
    height: 250px;
    background-color: rgb(0,0,0,0.3);

    position: absolute;
    z-index: 10;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* top 버튼 */
#topBtn {
    width: 50px;
    background-color: white;

    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--line-color);

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    right: 30px;
    bottom: 30px;

    transition-duration: 0.3s;

}

.opacity-zero {
    display: none;
    height: 0;
    opacity: 0;
}

.opacity-one {
    cursor: pointer;
    height: 50px;
    opacity: 1;
}

#topBtn:hover {
    background-color: #F6F6F6;
    transition-duration: 0.1s;
}

#topBtn:active {
    background-color: #F1F1F1;
}

/* 페이지네이션 영역 */
.pagination-area {
    display: flex;
    justify-content: center;
}

/* 페이지 박스 */
.page-box {
    color: var(--sub-font-color);
    border: 1px solid var(--line-color);
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    font: var(--sub-font-color);

    cursor: pointer;
}

.page-box:hover {
    color: var(--main-font-color);
    font-weight: 600;
    transition-duration: 0.1s;
}

/* 현재 페이지 */
.current-page-box {
    font-weight: 600;
    color: white;
    background-color: var(--point-color);
    border: 1px solid var(--line-color);
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    font: var(--sub-font-color);
}

/* 검색 결과가 없는 경우 사용할 페이지 박스 */
#resultIsEmpty {
    margin-top: 200px;

    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#resultIsEmpty>i {
    font-size: 50px;
    color: var(--point-color);

    margin-bottom: 20px;
}

#resultIsEmpty>span {
    font-size: 30px;
    color: var(--main-font-color);
}

/* 화면 로딩 효과 */
#spinnerBackground {
    background-color: rgb(0, 0, 0, 0);

    width: 100%;
    height: 100%;

    display: none;
    justify-content: center;
    align-items: center;

    /* position: absolute;
    top: 300px;
    left: 59%; */

    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;
}

#spinner {
    color: #BFBFBF;
    font-size: var(--large-font-size);
    display: none;
}

#spinner>i {
    font-size: 50px;
}

/* 판매하러 가기 버튼 */
#goPostEnrollBtn{
    color: white;
    background-color: var(--point-color);

    width: 120px;
    height: 30px;
    margin-left: 10px;

    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}