@import "../root-style.css";


.order-detail-section {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--modal-background-color);

  z-index: 100;
}

.order-modal{
  width: 800px;
  background-color: var(--background-color);
}

/* 뒤로가기 */
.back-btn{
  border: none;
  background-color: var(--point-color);
  color: white;
  margin-right: 10px;
}

.detail-top{
  font-weight: bold;
  background-color: var(--point-color);
  color: #fff;
  height: 35px;
  padding: 5px 0 0 15px;
  width: 100%;
}

.order{
  padding: 20px;  
  border: 1px solid #ddd;
}

.order-detail {
  font-size: var(--small-font-size);
  margin-bottom: 50px;
}

.detail-title{
  border-bottom: 1px solid #ddd;
  font-weight: bolder;
  height: 30px;
  font-size: var(--main-font-size);
}

.order-detail-top{
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 3px;
}

.order-detail-top>div{
  margin-right: 20px;
}

.small-title{
  color: var(--point-color);
  font-weight: 800;
  margin-right: 3px;
}


table{
  background-color: #fff;
  
  border: 1px solid #ddd;
  border-collapse: collapse;

  font-size: var(--small-font-size);
}

td, tr{
  border: 1px solid #ddd;
  border-collapse: collapse;
}


/* 주문상태 */
.order-status-table{
  width: 100%;
  height: 33px;
  margin: 10px auto;
  text-align: center;
}

.order-status-table th{
  background-color: #eee;
  width: 20%;
}

.order-status-table td:nth-of-type(1){
  width : 26%;
}


#orderStatus{
  font-size: var(--small-font-size);
  border: none;
}

#enrollInvoice{
  font-size: var(--small-font-size);
  padding: 0 3px;
  margin: 0 3px;
}

#invoiceNo{
  font-size: var(--small-font-size);
  border: none;
  border-bottom: 1px solid #ddd;
  text-align: center;
}




/* 주문상품 */

.order-detail-table{
  width: 100%;
  margin: 5px auto;
}

.order-table-head{
  height: 32px;
  background-color: #eee;
}

.order-table-row>td{
  padding: 0 8px;
}

.order-product{
  display: flex;
  border: none;
  margin: 10px 0;
  align-items: center;
  font-weight: bolder;
}

.product-img{
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 15px;
}

.product-img>img{
  width: 100%;
  height: 100%;
}



/* .order-table-row>*:nth-child(1){width: 35%; } */
.order-table-row>*:nth-child(2){width: 9%; text-align: center;}
.order-table-row>*:nth-child(3){width: 6%; text-align: center;}
.order-table-row>*:nth-child(4){width: 10%; text-align: center;}
.order-table-row>*:nth-child(5){width: 9%; text-align: center;}
.order-table-row>*:nth-child(6){width: 10%; text-align: right;}
.order-table-row>*:nth-child(7){width: 10%; text-align: center;}



/* 주문자 상세 정보 */

.orderer-detail-table{
  width: 100%;
  margin: 10px 0 ;
}

.orderer-detail-table *{
  height: 32px;
  padding: 0 15px;
}

.orderer-detail-table th{
  /* text-align: left; */
  width: 15%;
  background-color: #eee;
}

.orderer-detail-table td{
  width: 35%;
}

.hide {
  display: none;
  opacity: 0;
}

.appear {
  animation: fade-in 0.3s;
  animation-fill-mode: forwards;
  display: flex;
}

.disappear {
  animation: fade-out 0.3s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;

  }
  to {
    opacity: 0;
  }
}