@import '../root-style.css';

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 1000px;
  margin-top: 50px;
}

button {
  border: none;
  background-color: white;
}

button:active {
  transform: scale(0.95);
}

button:disabled {
 cursor: default;
}

button:disabled:active {
  transform: none;
}

/* 상품 요약 */
.product-summary {
  display: flex;
  position: relative;
}

/* 공유, 찜 버튼 */
.wish-btn,
.share-btn {
  width: 40px;
  height: 40px;

  position: absolute;
  right: 10px;
  top: 10px;

  border: none;
  background-color: var(--background-color);
  border-radius: 50%;

  color: var(--main-font-color);
  font-size: var(--title-font-size);
}

.wish-clicked {
  color: hsl(330, 88%, 53%);
}

.wish-unclicked {
  color: var(--main-font-color);
}

.share-btn {
  width: 30px;
  height: 30px;
  right: 60px;
}

.share-btn:hover {
  color: var(--point-color);
}

/* 대표 이미지 */
.thumbnail-area {
  width: 430px;
  height: 530px;
  overflow: hidden;
}

.thumbnail-area > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 상품 요약 설명 */
.summary-area {
  width: 570px;
  padding: 10px 20px 10px 50px;
  display: flex;
  flex-direction: column;
}

/* 상품 대분류 */
.product-category {
  font-size: var(--main-font-size);
  color: var(--sub-font-color);
  font-weight: bold;
  margin-bottom: 10px;
}

/* 상품 이름(제목) */
.product-name {
  font-size: var(--title-font-size);
  margin-bottom: 5px;
}

/* 상품 한 줄 설명 */
.product-message {
  font-size: var(--main-font-size);
  color: var(--sub-font-color);
  margin-bottom: 10px;
}

/* 상품 가격 */
.product-price {
  font-size: var(--headline-font-size);
  font-weight: bold;
  margin-bottom: 20px;
}

/* 로그인x일 때 메세지 */
.login-meassage {
  color: var(--point-color);
  font-size: var(--main-font-size);
  margin-bottom: 30px;
}

/* 상품 정보 */
.summary {
  display: flex;
  font-size: var(--main-font-size);
}

.summary-subject,
.summary-content {
  display: flex;
  flex-direction: column;
}

.summary-subject {
  width: 100px;
  color: var(--sub-font-color);
  margin-bottom: 10px;
}

.shipping,
.seller,
.origin {
  margin-bottom: 15px;
}

/* 상품 옵션 선택창 */
.product-option {
  width: 430px;
  height: 150px;

  border: 1px solid var(--line-color);
  margin-left: 70px;
  margin-bottom: 15px;

  position: relative;
  padding: 10px;
}

.product-option > span:first-child {
  font-size: var(--main-font-size);
}

.amount-area {
  margin-top: 10px;
  width: 100px;
  height: 40px;
  border: 1px solid var(--line-color);

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 4px;
  overflow: hidden;
}

.amount-area > button {
  width: 30px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
}

.amount-area > span {
  display: flex;
  width: 40px;
  height: 100%;

  justify-content: center;
  align-items: center;

  border-left: 1px solid var(--line-color);
  border-right: 1px solid var(--line-color);
}

.stock,
.soldout {
  color: red;
  font-size: var(--small-font-size);
}


.total-price {
  width: 250px;
  position: absolute;
  bottom: 10px;
  right: 10px;

  font-size: var(--headline-font-size);
  font-weight: bold;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.total-price > span:first-child {
  font-size: var(--main-font-size);
  padding-bottom: 5px;
  margin-right: 10px;
}

/* 문의, 장바구니 담기, 주문하기 버튼 */
.product-btn-area {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.product-btn-area > * {
  border: none;
  height: 45px;
  border-radius: 4px;
  color: white;

  margin-left: 10px;
}

.chatting-btn {
  width: 45px;
  background-color: white;
  border: 1px solid var(--line-color);
  color: var(--point-color);
  font-size: var(--title-font-size);
}

.cart-btn,
.order-btn {
  width: 210px;
  background-color: var(--point-color);
  font-size: var(--large-font-size);
}

.cart-btn:disabled,
.order-btn:disabled {
  background-color: var(--line-color);
  cursor: default;
}

.cart-btn:disabled:active,
.order-btn:disabled:active {
  transform: none;
}

.product-menu {
  margin-top: 100px;
  width: 100%;
  height: 60px;

  display: flex;
  align-items: center;

  border-top: 1px solid var(--line-color);
  border-bottom: 1px solid var(--line-color);
}

.product-menu > * {
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

/* 상품 상세 설명 */
.product-detail {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-detail > * {
  margin-bottom: 150px;
}

.product-img {
  width: 600px;
}

/* 상품 리뷰 */
.product-review > span:first-child {
  display: block;
  margin-bottom: 20px;
  font-size: var(--medium-font-size);
  font-weight: bold;
}

.review-img-list {
  display: flex;
}

.review-img-list li {
  width: 120px;
  height: 120px;
  margin-right: 5px;
  overflow: hidden;

  cursor: pointer;
}

.review-img-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.last-review-img {
  position: relative;
}

.more-review-img-btn {
  position: absolute;

  width: 120px;
  height: 120px;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--background-color);
  background-color: #00000050;

  font-weight: bold;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;
  border-bottom: 1px solid var(--main-font-color);
}

.review-header button {
  border: none;
}

.review-list {
  margin-top: 10px;
}

/* 리뷰 하나 */
.no-review {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review {
  display: flex;
  font-size: var(--main-font-size);
  margin: 30px 0;

  border-bottom: 1px solid hsl(0, 0%, 93%);
}

.review-writer {
  flex-basis: 25%;
  height: 50px;

  display: flex;
  align-items: center;

  margin-left: 10px;
  position: relative;
}

.sort-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-area > * {
  margin: 0 3px;
}

.sort-clicked {
  color: var(--point-color);
  font-weight: bold;
}

.or-bar {
  font-size: var(--small-font-size);
  color: var(--sub-font-color);
}

.review-writer > img {
  width: 50px;
  height: 50px;
  border: 1px solid var(--line-color);
  border-radius: 50%;

  margin-right: 10px;
}

.nickname-area {
  display: flex;
  flex-direction: column;
}

.best-review {
  position: absolute;
  top: -10px;

  display: inline-block;
  width: 60px;

  background-color: var(--point-color);
  text-align: center;
  border-radius: 1px;
  color: white;
  font-size: var(--main-font-size);
}

.review-content {
  padding-top: 10px;
  flex-basis: 75%;
  position: relative;

  padding-right: 5px;
}

.review-update-btn {
  position: absolute;
  top: 0;
  right: 10px;
  color: var(--point-color);
  color: var(--sub-font-color);
}

.review-content > span {
  display: inline-block;
  margin-bottom: 10px;
  color: var(--sub-font-color);
}

.review-img {
  margin-top: 30px;
  border-radius: 5px;
  width: fit-content;
  cursor: pointer;
  overflow: hidden;
  width: 100px;
  height: 100px;
}
.review-one-img{
    border: none;
}

.review-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review-create-date {
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--sub-font-color);
  padding-right: 5px;
}

.review-create-date > button {
  width: 100px;
  height: 30px;

  border-radius: 15px;

}

.clicked {
  border: 1px solid var(--point-color);
  color: var(--point-color);
}

.clicked:hover {
  color: var(--sub-font-color);
}

.unclicked {
  border: 1px solid var(--line-color);
  color: var(--sub-font-color);
  
}

.unclicked:hover {
  color: var(--point-color);
}

.pagination {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.pagination > button {
  font-size: var(--title-font-size);
  color: #b4b4b4;
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
}

.hide {
  display: none;
}