/* 알림 드롭다운 */
.dropdown-message{
    width: 360px;
    max-height: 209px;
    overflow-y: scroll;
}

.dropdown-message > .notice{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px 10px 15px;
}

/* goAlarmcenterBtn */
#goAlarmcenterBtn{
    width: 70px;
    height: 25px;
    background-color: var(--point-color);
    font-size: var(--main-font-size);
    color: white;
    
    border-radius: 5px;
    
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#goAlarmcenterBtn:hover{
    opacity: 0.8;
}

#goAlarmcenterBtn:active{
    opacity: 0.9;
}

/* 알림 하나 */
.alarmWidget-box{
    min-height: 55px;
    width: 100%;

    display: flex;
    align-items: center;
    
    border-top: 1px solid var(--line-color);

    cursor: pointer;

    transition-duration: 0.1s;


}

/* 알림 아이콘 */
.alarmWidget-type-icon{
    flex-basis: 10%;
    font-size: 20px;
    color: var(--point-color);

    text-align: center;
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

/* 알림 내용, 알림 종류 설명 */
.alarmWidget-label{
    flex-basis: 70%;
}

/* 알림 내용 */
.alarmWidget-content{
    font-size: var(--small-font-size);
    color: var(--main-font-color);
    font-weight: 600;
    width: 220px;
    padding-bottom: 3px;
    margin-bottom: 3px;
    border-bottom: 1px solid var(--line-color);

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;


}

/* 알림 종류 설명 */
.alarmWidget-detail-mention{
    font-size: var(--small-font-size);
    color: var(--main-font-color);
    height: 25px;

    display: flex;
    align-items: center;
}

/* 알림 내용 */

/* 시간 */
.alarmWidget-date{
    flex-basis: 20%;
    font-size: var(--small-font-size);
    color: var(--sub-font-color);

    margin-right: 10px;
    text-align: end;
}

/* alarm-box:hover */
.alarmWidget-box:hover{
    background-color: rgb(0,0,0,0.05);
    opacity: 0.9;
}