a.wish > span,
a.wish > i {
  font-weight: bold;
  color: var(--point-color);
}

/* 마이페이지 작성 게시글 목록 */
.wish-list {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  justify-content: center;
}

.wish-list-title {
  font-size: var(--large-font-size);
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 100px;
  border-bottom: 1px solid var(--main-font-color);
  font-weight: bold;
}

.wish-list-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
}

.wish-list-header > button {
  font-size: var(--main-font-size);
  outline: none;
  border: none;
  color: var(--sub-font-color);
}

.list-category {
  height: 60px;
  border-top: 1px solid #ccc;

  font-size: var(--medium-font-size);
  font-weight: bold;
}

.list-category,
.wish {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wish {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  font-size: var(--main-font-size);
  position: relative;
}

input#selectWish {
  display: none;
}

label.checkbox {
  width: 17px;
  height: 17px;
  border: 1px solid #ccc;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 2px;

  margin-right: 10px;
  position: absolute;
  top: 20px;
  left: 5px;

  font-size: var(--small-font-size);
}

input#selectWish:checked + label.checkbox {
  content: '';
  width: 16px;
  height: 16px;
  background-color: var(--point-color);
  border: none;
}

.wish-thumbnail {
  width: 120px;
  height: 120px;
  margin-right: 20px;
}

.wish-thumbnail-img {
  width: 100%;
  height: 100%;
}

.wish-info {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.wish-reg-date {
  font-size: var(--small-font-size);
  color: var(--sub-font-color);
  margin-bottom: 20px;
}

.wish-price {
  font-size: var(--small-font-size);
}

.wish-price > span {
  font-weight: bold;
  font-size: var(--main-font-size);
}
.delete-wish-btn {
  position: absolute;

  top: 20px;
  right: 10px;

  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: var(--title-font-size);
  color: #aaa;
}

.pagination {
  display: flex;
  margin-top: 10px;
}
