@import '../root-style.css';

a {
  color: var(--main-font-color);
}

body {
  color: var(--main-font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* 회원 정보 */
.profile-container {
  height: 350px;
  background-color: white;
}

.profile-background {
  width: 1000px;
  height: 150px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.member-bg-img {
  width: 100%;
}

.bg-change-btn {
  position: absolute;
  top: 20px;
  right: 20px;

  display: inline-block;
  font-size: var(--title-font-size);
  color: var(--sub-font-color);
  opacity: 0.5;

  border-radius: 50%;
  border: none;

  cursor: pointer;
}

.bg-change-btn:hover {
  opacity: 1;
}

.profile-info {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 1000px;
  height: 200px;

  cursor: default;
}

/* .profile-setting-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  border: none;
  font-size: var(--large-font-size);
  cursor: pointer;
}

.profile-setting-btn:active {
  transform: scale(0.95);
} */

.profile-img-container {
  width: 200px;
  height: 250px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  left: 60px;
  top: -70px;
}

.member-profile {
  width: 150px;
  height: 150px;
  object-fit: cover;
  overflow: hidden;

  background-color: white;
  border-radius: 50%;
  border: 1px solid var(--line-color);
}

.member-profile-img {
  width: 100%;
  height: 100%;
}

.member-nickname {
  margin-top: 10px;
  font-size: var(--large-font-size);
  font-weight: bold;
}

.member-info-container {
  width: 500px;
  height: 130px;

  margin-right: 70px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: var(--main-font-size);
}

.member-count {
  display: flex;
}

.member-count > div {
  margin-right: 50px;
}

.info-title {
  font-weight: bold;
}

.basic-title {
  display: inline-block;
  width: 90px;
}

.count-title {
  margin-right: 5px;
}

/* 마이페이지 메뉴바 */

.list-container {
  width: 1000px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-content: space-between;
  position: relative;
}

.mypage-nav {
  width: 20%;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;

  margin-right: 30px;
  position: absolute;
  top: 10px;
  left: 0;
}

.mypage-nav > a {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: var(--main-font-size);
}

.mypage-nav > a > span {
  margin-left: 5px;
  margin-right: 50px;

  width: 60%;
  display: flex;
  justify-content: flex-start;
  color: var(--sub-font-color);
  font-weight: bold;
}

.mypage-nav-title {
  display: inline-block;
  font-size: var(--title-font-size);
  margin: 20px 0 30px;
  font-weight: bold;
}

.mypage-nav > a > i {
  font-size: var(--main-font-size);
}

button:hover,
a:hover,
a:hover > span,
button:hover > span {
  color: var(--point-color);
}
