a.board-wrote > span,
a.board-wrote > i {
  font-weight: bold;
  color: var(--point-color);
}

/* 마이페이지 작성 게시글 목록 */
.board-list {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  justify-content: center;
}

.board-list-title {
  font-size: var(--large-font-size);
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 100px;
  border-bottom: 1px solid var(--main-font-color);
  font-weight: bold;
}

.board-list-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
}

.board-list-header > select {
  font-size: var(--main-font-size);
  outline: none;
}

.list-category {
  height: 60px;
  border-top: 1px solid #ccc;

  font-size: var(--medium-font-size);
  font-weight: bold;
}

.list-category,
.board {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  font-size: var(--main-font-size);
}

.board-no {
  display: inline-block;
  width: 10%;
  text-align: center;
}

.board-thumbnail {
  width: 70px;
  height: 70px;
  margin-left: 15px;
}

.board-thumbnail-img {
  width: 100%;
  height: 100%;
}

.board-title {
  display: inline-block;
  width: 55%;
  text-align: center;
}

.title-line {
  display: flex;
  justify-content: center;
}

.board-reg-date {
  display: inline-block;
  width: 15%;
  text-align: center;
}

.board-read-count {
  display: inline-block;
  width: 10%;
  text-align: center;
}

.pagination {
  display: flex;
  margin-top: 10px;
}
