a.update-pw > span,
a.update-pw > i {
  font-weight: bold;
  color: var(--point-color);
}

/* 마이페이지 작성 게시글 목록 */
.board-list {
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  justify-content: center;
}

.board-list-title {
  font-size: var(--large-font-size);
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 100px;
  border-bottom: 1px solid var(--main-font-color);
  font-weight: bold;
}

.profile-form{
    width: 400px;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 50px;
}

.update input{
    width: 400px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    padding-left: 15px;
    font-size: var(--medium-font-size);
    color: #888;
}

.coner{
    font-size: var(--main-font-size);
    color: var(--point-color);
    margin: 4px 0 0 13px;
}

.title{
    font-size: var(--main-font-size);
    margin-top: 30px;
    margin-left: 12px;
}

.update-btn{
    border: 0;
    width: 100%;
    height: 45px;
    display: block;
    margin: 25px 0;
    color: var(--background-color);
    background-color: var(--point-color);
    cursor: pointer;
    font-size: var(--medium-font-size);
    border-radius: 5px;
    font-weight: 600;
}

.update-btn:hover{
  color: var(--background-color);
  font-family: "NotoSansKR-Bold";
}

.confirm{
    color: var(--point-color);
    font-size: 14px;
}
.error{
    color: red;
    font-size: 14px;
}
.no{
    color: black;
    font-size: 14px;
}



