a.comment-wrote > span,
a.comment-wrote > i {
  font-weight: bold;
  color: var(--point-color);
}

/* 마이페이지 주문 목록 */

.list-category {
  height: 60px;
  border-top: 1px solid #ccc;

  font-size: var(--medium-font-size);
  font-weight: bold;
}

.comment {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ddd;
  font-size: var(--main-font-size);
}

.comment-list {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  justify-content: center;
}

.comment-list-title {
  font-size: var(--large-font-size);
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 100px;
  border-bottom: 1px solid var(--main-font-color);
  font-weight: bold;
}

.list-category,
.comment {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
}

.comment {
  height: 90px;
  border-bottom: 1px solid var(--line-color);
}

.comment-category,
.comment-container {
  width: 80%;
  text-align: center;
}

.comment-title {
  color: var(--sub-font-color);
}

.comment-reg-date {
  width: 20%;
  text-align: center;
}

.comment-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 10px 0;
  margin-left: 50px;
}

.pagination {
  display: flex;
  margin-top: 10px;
}
