@import '../root-style.css';

a.review-wrote > span,
a.review-wrote > i {
  font-weight: bold;
  color: var(--point-color);
}

.review-list {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.review-list-title {
  font-size: var(--large-font-size);
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 100px;
  border-bottom: 1px solid var(--main-font-color);
  font-weight: bold;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--line-color);

  font-size: var(--main-font-size);
}

.review > div:first-child {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
}

.review-container {
  width: 75%;
  text-align: center;
}

.review-reg-date {
  width: 20%;
  text-align: center;
}

.review-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 10px 0;
  margin-left: 50px;
}

.review-content {
  cursor: pointer;
}

.review-content:hover > * {
  color: var(--point-color);
}

.review-detail {
  margin: 20px 0;
}

/* 리뷰 하나 */
.review-detail {
  width: 80%;

  display: flex;
  font-size: var(--main-font-size);
  margin: 30px 0;

  border-bottom: 1px solid hsl(0, 0%, 93%);
  display: none;
}

.review-detail-content {
  padding-top: 10px;
  width: 100%;
}

.review-detail-content > span {
  display: inline-block;
  margin-bottom: 10px;
  color: var(--sub-font-color);
}

.review-img {
  margin-top: 30px;
  border-radius: 5px;
  overflow: hidden;
  width: fit-content;
  cursor: pointer;
}

.review-img > img {
  width: 100px;
  height: 100px;
}

.review-create-date {
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--sub-font-color);
}

.review-create-date > button {
  width: 100px;
  height: 30px;

  border-radius: 15px;

  border: 1px solid var(--line-color);
  color: var(--sub-font-color);
}

.review-create-date > button:hover {
  color: var(--point-color);
}

.review-helped {
  font-size: var(--main-font-size);
  font-weight: bold;
  color: var(--point-color);
}

.pagination {
  display: flex;
  margin-top: 10px;
}
