@import '../root-style.css';

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* banner */
.banner{
    border: 1px solid black;
    width: 1000px;
    height: 600px;

    display: flex;
    flex-direction: column;
}

/* 배너 > 광고 영역 */
.add-area{
    width: 1000px;
    height: 400px;
}

/* 배너 > 광고 영역 > 사진 */
.add-area > img{
    width: 100%;
    height: 600px;
    transform: translateY(-100px);
}

/* 배너 > 검색 */
.search-area{
    background-color: white;
    width: 100%;
    height: 200px;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title{
    color: var(--main-font-color);
    font-size: var(--headline-font-size);
}

#searchBar{
    border: 1px solid var(--point-color);
    width: 400px;
    height: 40px;
    padding: 5px 10px;
    margin-top: 10px;

    border-radius: 5px;
}

#keyword{
    color: var(--main-font-color);
    border: none;
    width: 95%;

    outline: none;
}

#searchBtn{
    height: 100%;
    background-color: white;
    border: none;

}

/* container */
.container{
    border: 1px solid black;
    width: 1000px;
    min-height: 800px;
    height: 800px;

    display: flex;
}

/* 카테고리 영역 */
/* category-area */
.category-area{
    border: 1px solid black;
    width: 220px;
    height: 100%;

    display: flex;
    flex-direction: column;
    padding: 10px;
}




.area-title{
    font-size: var(--large-font-size);
    height: 50px;
}



/* 상위 카테고리 */
.sur{
    font-weight: 900;
    font-size: var(--medium-font-size);
    height: 30px;

    margin: 10px 0px;
    display: flex;
    align-items: center;

}

/* 세부 카테고리 */
.category-dropdown{
    font-size: var(--small-font-size);

    display: flex;
    flex-wrap: wrap;
}

.category-dropdown > input{
    display: none;
}


.category-dropdown > label{
    width: 90%;
    margin-bottom: 5px;
}

.category-dropdown > input:checked + label{
    font-weight: 900;
    color: var(--point-color);
}

/* list-area */
.list-area{
    display: flex;
    flex-direction: column;
    width: 780px;
}

.list-area-header{
    border: 1px solid black;
    height: 50px;
    width: 100%;

    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opt{
    margin-left: 10px;
}

