@import "../root-style.css";

body{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.home-logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-logo img {
    width: 400px;
}

.notice-text{
    margin-top: 40px;
    font-family: "S-CoreDream-4Legular";
    font-size: 40px;
    color: var(--point-color);
    font-weight: bolder;
}

.notice-text2{
    margin-top: 30px;
    font-family: "S-CoreDream-4Legular";
    font-size: var(--medium-font-size);
    color: var(--point-color);
    font-weight: bolder;
}


#buttonArea{
    width: 100%;
    display: flex;
    justify-content: center;
}



.button{
    margin-top: 30px;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.to-main{
    background-color: var(--point-color);
    margin-right: 10px;
}

.to-happy-center{
    background-color: #edb72f;
}


.button a{
    font-family: NotoSansKR-Light;
    color:white;
}
