@import "../root-style.css";

body{
    margin: 0 auto;
    width: 1000px;
    background-color: #eeeeee;
}

main{
    display: flex;
    width: 1000px;
    min-height: 500px;
    background-color: var(--background-color);
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 3px 3px 15px rgba(120, 120, 120, 0.6);
}

.signup-page-img{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 55px;
}

.signup-page img{
    width: 180px;
}

.form-wrap{
    width: 400px;
    margin: 40px auto;
}

.form-wrap input{
    width: 400px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    padding-left: 15px;
    font-size: var(--medium-font-size);
    color: #888;
}

.coner{
    font-size: var(--main-font-size);
    color: var(--point-color);
    margin: 4px 0 0 13px;
}

.title{
    font-size: var(--medium-font-size);
    margin-top: 15px;
    margin-left: 12px;
}

.signup-btn{
    border: 0;
    width: 100%;
    height: 40px;
    display: block;
    margin: 20px 0;
    color: var(--background-color);
    background-color: var(--point-color);
    cursor: pointer;
    font-size: var(--medium-font-size);
    border-radius: 5px;
    font-weight: 600;
}

