@import "../root-style.css";

body{
    margin: 0 auto;
    width: 1000px;
    background-color: #eeeeee;
}

.container{
    width: 1000px;
    height: 500px;
    background-color: var(--background-color);
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 3px 3px 15px rgba(120, 120, 120, 0.6);
    display: flex;
}

.container-sub{
    margin: 0 auto;
    margin-top: 100px;
}

.success-page{
    margin-bottom: 100px;
}

.success-img{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 65px;
}

.success-img img{
    width: 180px;
}

.title{
    font-size: 27px;
    color: var(--main-font-color);
    font-family: "NotoSansKR-Bold";
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.subtitle{
    font-size: 20px;
    color: #999;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.form-wrap{
    width: 540px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.success-wrap{
    display: flex;
    justify-content: center;
}

.success-btn{
    width: 200px;
    height: 90px;
    background-color: var(--point-color);
    font-weight: 700;
    text-align: center;
    font-size: var(--title-font-size);
    margin: 0 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.success-btn a{
    color: var(--background-color);
    margin-bottom: 2px;
    font-family: "NotoSansKR-Regular";
}