@import "../root-style.css";

/* 상품등록 페이지 전체 */
.enroll-section{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: auto;
}

/* 페이지 제목 */
.page-title{
    text-align: center;
    font-size: var(--headline-font-size);
    height: 115px;
    padding-top: 50px;
    margin-bottom: 30px;
}

/* 항목별 공통설정 */
.product-items{
    margin-bottom: 30px;
}

.item-title{
    padding: 13px 5px;
}

/* 카테고리 설정 */
.category-item{
    display: flex;
}

.category-item>p{
    width: 15%;
    /* padding-top: 0; */
}

.select-category{
    width: 85%;
}

.category-headline{
    height: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #C7C7C7;
}

.category-headline p{
    display: inline-block;
}

#category-btn{
    width: 18%;
    font-size: var(--main-font-size);
    margin-left: 15px;
    cursor: pointer;

    border: none;
    background-color: var(--background-color);
}

#category-btn>i{
    padding-left: 10px;
}

.category-selected{
    width: 40%;
    font-size: var(--small-font-size);
    margin-right: 15px;
    text-align: right;
}

.category-selected>p{
    cursor: pointer;
}

#categoryName{
    padding-right: 15px;
    color: var(--point-color);
    font-size: var(--main-font-size);
}

/* 카테고리 리스트 */
#category-list{
    border: 1px solid #C7C7C7;
    padding: 20px 10px 20px 30px;
    display: none;
}

#category-list>li{
    width: 210px;
    display: inline-block;
    font-size: var(--main-font-size);
    padding-bottom: 5px;
}

.show-category{
    display: block !important;
}

.rotate {transform: perspective(500px) rotateX(180deg);}

[name="categoryNo"]{
    accent-color: var(--point-color);
}


/* 상품정보 */
.post-info{
    border: 1px solid #C7C7C7;
    padding: 30px 60px;
}

.info-list{
    display: flex;
    padding: 20px;
    align-items: center;
}

.info-list>p{
    font-size: var(--main-font-size);
}

.info-list>p:first-child{
    width: 20%;
}

.info-list>input{
    border: none;
    border-bottom: 1px solid #C7C7C7;
    font-size: var(--main-font-size);
    line-height: 30px;
}

input[name="unitPrice"]{
    text-align: right;
    padding-right: 10px;
}

[name=openDate]{
    width: 170px;
    text-align: center;
}

/* 이미지 삽입 */

.post-img{
    width: 100px;
    height: 100px;
    border: 1px solid #CECECE;
    position: relative;
}

.post-img>label{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: var(--small-font-size);
    color: #888;
}

.input-img{
    display: none;
}

.img-box{
    display: flex;
    justify-content: space-between;
    width: 72%;
}

.preview{
    max-width: 100%;
    height: 100%;
}

.thumbnail{
    width: 150px;
    height: 150px;
}

.thumbnail i{
    font-size: 30px;
    color: #B0B0B0;
}

.delete-img{
    position: absolute;
    top: 5px;
    right: 5px;
    color: #B0B0B0;
    cursor: pointer;
}

/* 상품 상세 설명 */
.post-content{
    border: 1px solid #C7C7C7;
    padding: 20px;
    line-height: 20px;
    outline: none;
}

.button-area{
    display: flex;
    justify-content: center;
    margin: 40px 0 80px;
}

.button-area>button{
    width: 200px;
    height: 45px;
    border: none;
    font-size: var(--medium-font-size);
}

#cancelBtn{
    background-color: #F2F2F2;
    margin-right: 10px;
}

#enrollBtn{
    background-color: var(--point-color);
    color: #ffffff;
}