<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alarmMapper">


	 <resultMap type="alarm" id="alarm_rm">
        <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
	     <id property = "alarmNo" column="ALARM_NO"/>
	     <!-- 나머지 일반 컬럼 -->
	      <result property="alarmTypeNo" column="ALARM_TYPE_NO" />
	      <result property="alarmTitle" column="ALARM_TITLE" />
	      <result property="alarmContent" column="ALARM_CONTENT" />
	      <result property="alarmDate" column="ALARM_DATE" />
	      <result property="memberNo" column="MEMBER_NO" />
	      <result property="quickLink" column="QUICK_LINK" />
	      <result property="readFl" column="READ_FL" />
	 </resultMap>
	 
	 <!-- 알림을 DB에 저장 -->
	 <insert id="insertNewAlarm" useGeneratedKeys="true">
	 	INSERT INTO ALARM
	 	VALUES(SEQ_ALARM_NO.NEXTVAL, #{alarmTypeNo}, #{memberNo}, #{alarmContent}, DEFAULT, #{quickLink})
	 	<selectKey keyProperty="alarmTitle" resultType="string" order="AFTER">
	 		SELECT ALARM_TITLE FROM ALARM_TYPE WHERE ALARM_TYPE_NO = #{alarmTypeNo}
	 	</selectKey>
	 </insert>
	 
	 <!-- 내 알림 조회 -->
	 <select id="selectAlarmList" parameterType="_int" resultMap="alarm_rm">
	 	SELECT ALARM_NO, ALARM_TYPE_NO, ALARM_CONTENT, QUICK_LINK, READ_FL,
	 		   CASE WHEN TO_CHAR(ALARM_DATE, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD') THEN TO_CHAR(ALARM_DATE, 'AM HH"시" MI"분"')
	 		   ELSE TO_CHAR(ALARM_DATE, 'YYYY-MM-DD') END ALARM_DATE,
	 	       (SELECT ALARM_TITLE FROM ALARM_TYPE ALAT WHERE ALAT.ALARM_TYPE_NO = ALA.ALARM_TYPE_NO) AS ALARM_TITLE 
	 	FROM ALARM ALA
	 	WHERE MEMBER_NO = #{memberNo}
	 </select>
	
</mapper>