<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cartMapper">

	<!-- 장바구니 resultMap -->
	<resultMap type="Cart" id="cart_rm">
		<result property="memberNo" column="MEMBER_NO" />
		<result property="productNo" column="PRODUCT_NO" />
		<result property="productAmount" column="PRODUCT_AMOUNT" />
		<result property="productPrice" column="PRODUCT_PRICE" />
		<result property="productTotalPrice" column="PRODUCT_TOTAL_PRICE" />
		<result property="productName" column="PRODUCT_NAME" />
		<result property="productImg" column="PRODUCT_IMG" />
		<result property="stock" column="STOCK" />
		<result property="memberAddress" column="MEMBER_ADDRESS" />
	</resultMap>
	
	<resultMap type="MemberAddress" id="memberAddress_rm">
        <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
     <id property = "addressNo" column="ADDRESS_NO"/>
     <!-- 나머지 일반 컬럼 -->
      <result property="memberAddress" column="MEMBER_ADDRESS" />
      <result property="memberAddress2" column="MEMBER_ADDRESS2" />
      <result property="defaultFl" column="DEFAULT_FL" />
      <result property="memberNo" column="MEMBER_NO" />
      <result property="memberName" column="MEMBER_NAME" />
      <result property="to" column="MEMBER_TEL" />
  	</resultMap>
	
	<!-- 장바구니 조회 -->
	<select id="selectCartList" resultMap="cart_rm">
		SELECT C.PRODUCT_NO, PRODUCT_NAME, PRODUCT_AMOUNT, STOCK,
			TO_CHAR(PRODUCT_PRICE, 'FM999,999,999,999') PRODUCT_PRICE,
			TO_CHAR(PRODUCT_PRICE*PRODUCT_AMOUNT, 'FM999,999,999,999') PRODUCT_TOTAL_PRICE,
			(SELECT PRODUCT_IMG_ADDRESS FROM PRODUCT_IMG PI
			WHERE PI.PRODUCT_NO = C.PRODUCT_NO
			AND PRODUCT_IMG_ORDER=0) PRODUCT_IMG
		FROM CART C
		JOIN PRODUCT P ON(C.PRODUCT_NO = P.PRODUCT_NO)
		WHERE C.MEMBER_NO = #{memberNo}
	</select>
  
	<!-- 장바구니 확인 -->
	<select id="checkCart" resultType="_int">
		SELECT COUNT(*)
		FROM CART
		WHERE MEMBER_NO = #{memberNo}
		AND PRODUCT_NO = #{productNo}
	</select>
	
	<!-- 장바구니 추가 -->
	<insert id="addCart">
		INSERT INTO CART VALUES
		(#{memberNo}, #{productNo}, #{productAmount})
	</insert>
	
	<!-- 장바구니 수량 확인 -->
	<select id="addCartAmount" resultType="_int">
		SELECT PRODUCT_AMOUNT
		FROM CART
		WHERE MEMBER_NO = #{memberNo}
		AND PRODUCT_NO = #{productNo}
	</select>
	
	<!-- 장바구니 수량 업데이트 -->
	<update id="addCartUp">
		UPDATE CART SET 
		PRODUCT_AMOUNT = #{productAmount}
		WHERE MEMBER_NO = #{memberNo}
		AND PRODUCT_NO = #{productNo}
	</update>
	
	<!-- 장바구니에서 수량 추가 -->
	<update id="plusCart">
		UPDATE CART SET 
		PRODUCT_AMOUNT = PRODUCT_AMOUNT +1
		WHERE MEMBER_NO = #{memberNo}
		AND PRODUCT_NO = #{productNo}
	</update>
	
	<!-- 장바구니에서 수량 감소 -->
	<update id="minusCart">
		UPDATE CART SET 
		PRODUCT_AMOUNT = PRODUCT_AMOUNT -1
		WHERE MEMBER_NO = #{memberNo}
		AND PRODUCT_NO = #{productNo}
	</update>
	
	<!-- 장바구니 항목 삭제 -->
	<delete id="deleteCart">
		DELETE FROM CART
		WHERE MEMBER_NO = #{memberNo}
		AND PRODUCT_NO = #{productNo}
	</delete>
	
	<!-- 배송지 조회 -->
	<select id="selectAddressList" resultMap="memberAddress_rm">
		SELECT ADDRESS_NO, DEFAULT_FL, MEMBER_NAME, MEMBER_TEL, 
				REPLACE(MEMBER_ADDRESS, ',,', ' ') MEMBER_ADDRESS2
		FROM ADDRESS
		JOIN MEMBER USING(MEMBER_NO)
		WHERE MEMBER_NO = #{memberNo}
		ORDER BY DEFAULT_FL DESC, ADDRESS_NO DESC
	</select>
	
	<!-- 기존 배송지 default 변경 -->
	<update id="updateDefault">
		UPDATE ADDRESS SET DEFAULT_FL='N'
		WHERE MEMBER_NO = #{memberNo}
		AND DEFAULT_FL='Y'
	</update>
	
	<!-- 다른 배송지를 기본으로 변경 -->
	<update id="changeAddress">
		UPDATE ADDRESS SET DEFAULT_FL='Y'
		WHERE MEMBER_NO = #{memberNo}
		AND ADDRESS_NO = #{addressNo}
	</update>
	
	<!-- 배송지 삭제 -->
	<delete id="deleteAddress">
		DELETE FROM ADDRESS WHERE ADDRESS_NO = #{addressNo}
	</delete>
	
	<!-- 장바구니 리스트 삭제 -->
	<delete id="deleteCartList">
		DELETE FROM CART 
		${condition}
	</delete>
	
	
	<!-- 배송지 추가 -->
	<insert id="insertAdd">
		INSERT INTO "ADDRESS"
		VALUES(SEQ_ADDRESS_NO.NEXTVAL, #{memberAddress},'N', #{memberNo})
	</insert>
	
  
</mapper>