<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatMapper">


	 <resultMap type="ChatRoom" id="chatRoom_rm">
	        <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
	     <id property = "roomNo" column="ROOM_NO"/>
	     <!-- 나머지 일반 컬럼 -->
	      <result property="roomDate" column="ROOM_DATE" />
	      <result property="memberNo" column="MEMBER_NO" />
	      <result property="memberFl" column="MEMBER_FL" />
	      <result property="memberNickname" column="MEMBER_NICKNAME" />
	      <result property="profileImg" column="PROFILE_IMG" />
	      <result property="memberNo2" column="MEMBER_NO2" />
	      <result property="memberFl2" column="MEMBER_FL2" />
	      <result property="memberNickname2" column="MEMBER_NICKNAME2" />
	      <result property="profileImg2" column="PROFILE_IMG2" />
	      <result property="closedFl" column="CLOSED_FL" />
	      <result property="postNo" column="POST_NO" />
	      
	      <result property="lastChatTime" column="LAST_CHAT_TIME" />
	      <result property="lastChatContent" column="LAST_CHAT_CONTENT" />
	      <result property="lastChatImgFl" column="LAST_CHAT_IMG_FL" />
	      <result property="unreadChatCount" column="UNREAD_CHAT_COUNT" />
	      
	      <result property="chatTimeOrder" column="CHAT_TIME_ORDER" />

	 </resultMap>
	 
	 <resultMap type="Chat" id="chat_rm">
	        <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
	     <id property = "roomNo" column="ROOM_NO"/>
	     <!-- 나머지 일반 컬럼 -->
	      <result property="chatNo" column="CHAT_NO" />
	      <result property="chatContent" column="CHAT_CONTENT" />
	      <result property="sendMemberNo" column="SEND_MEMBER_NO" />
	      <result property="chatDelFl" column="CHAT_DEL_FL" />
	      <result property="readFl" column="READ_FL" />
	      <result property="chatDate" column="CHAT_DATE" />
	      <result property="chatTime" column="CHAT_TIME" />
	      <result property="imgFl" column="IMG_FL" />
	 </resultMap>

	 <resultMap type="ChatImg" id="chatImg_rm">
	        <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
	     <id property = "chatImgNo" column="CHAT_IMG_NO"/>
	     <!-- 나머지 일반 컬럼 -->
	      <result property="chatNo" column="CHAT_NO" />
	      <result property="chatImgOriginal" column="CHAT_IMG_ORIGINAL" />
	      <result property="chatImgRename" column="CHAT_IMG_RENAME" />
	      <result property="chatImgPath" column="CHAT_IMG_PATH" />
	      <result property="chatImgDelFl" column="CHAT_IMG_DEL_FL" />
	 </resultMap>
	 
	
	
	
	<!-- 채팅방 목록 -->
	<select id="getChatRoomList" parameterType="_int" resultMap="chatRoom_rm">
		SELECT ROOM_NO, ROOM_DATE, MEMBER_NO, MEMBER_NO2,
				-- 닉네임1
			  (SELECT MEMBER_NICKNAME
			  	FROM MEMBER M1
			  	WHERE M1.MEMBER_NO = CR.MEMBER_NO) AS MEMBER_NICKNAME,
			  	-- 이미지1
			  (SELECT PROFILE_IMG
			   FROM MEMBER M1
			   WHERE M1.MEMBER_NO = CR.MEMBER_NO) AS PROFILE_IMG, 
			   -- 닉네임2
			  (SELECT MEMBER_NICKNAME
			  	FROM MEMBER M2
			  	WHERE M2.MEMBER_NO = CR.MEMBER_NO2) AS MEMBER_NICKNAME2,
			  	-- 이미지2
			  (SELECT PROFILE_IMG
			   FROM MEMBER M2
			   WHERE M2.MEMBER_NO = CR.MEMBER_NO2) AS PROFILE_IMG2,
			   -- 날짜(날짜가 오늘 날짜와 같으면 시간만, 아니면 날짜만 가져옴)
			   (SELECT CASE WHEN TO_CHAR(CHAT_TIME, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
			   				THEN TO_CHAR(CHAT_TIME, 'AM HH"시" MI"분"')
			   				ELSE TO_CHAR(CHAT_TIME, 'YYYY-MM-DD') END CHAT_TIME
			   FROM (SELECT CHAT_TIME
			   		 FROM CHAT C 
			   		 WHERE C.ROOM_NO = CR.ROOM_NO 
			   		 ORDER BY CHAT_NO DESC)
			   WHERE ROWNUM = 1) AS LAST_CHAT_TIME,
	  			-- 읽지 않은 채팅의 개수
	  		  (SELECT COUNT(*)
	  		   FROM (SELECT CHAT_NO
	  		   FROM CHAT C 
	  		   WHERE C.ROOM_NO = CR.ROOM_NO 
	  		   AND C.SEND_MEMBER_NO != #{myMemberNo}
	  		   AND READ_FL = 'N') ) AS UNREAD_CHAT_COUNT,
			   -- 마지막 대화 내용
			  (SELECT CHAT_CONTENT
			  FROM (SELECT CHAT_CONTENT
			  		 FROM CHAT C 
			  		 WHERE C.ROOM_NO = CR.ROOM_NO 
			  		 ORDER BY CHAT_NO DESC)
			  WHERE ROWNUM = 1) AS LAST_CHAT_CONTENT,
			  -- 마지막 대화의 텍스트 / 이미지 여부
			  (SELECT IMG_FL
			  FROM (SELECT IMG_FL
			  		 FROM CHAT C 
			  		 WHERE C.ROOM_NO = CR.ROOM_NO 
			  		 ORDER BY CHAT_NO DESC)
			  WHERE ROWNUM = 1) AS LAST_CHAT_IMG_FL,
			  -- 마지막 대화의 날짜(정렬전용)
			   (SELECT CHAT_NO
			   FROM (SELECT CHAT_NO
			   		 FROM CHAT C 
			   		 WHERE C.ROOM_NO = CR.ROOM_NO 
			   		 ORDER BY CHAT_NO DESC)
			   WHERE ROWNUM = 1) AS CHAT_TIME_ORDER
		FROM CHAT_ROOM CR
		WHERE (MEMBER_NO = #{myMemberNo} AND MEMBER_FL = 'N')
		OR (MEMBER_NO2 = #{myMemberNo} AND MEMBER_FL2 = 'N')
		ORDER BY CHAT_TIME_ORDER DESC NULLS LAST
	</select>
	
	<!-- 채팅 업데이트 -->
	<update id="updateChatReadFl">
		UPDATE CHAT SET READ_FL ='Y'
		WHERE ROOM_NO = #{roomNo}
		AND SEND_MEMBER_NO != ${myMemberNo}
	</update>
	
	<!-- 선택한 채팅 내역 가져오기 -->
	<select id="getChatHistory" parameterType="_int" resultMap="chat_rm">
		SELECT CHAT_NO, CHAT_CONTENT, SEND_MEMBER_NO, READ_FL, IMG_FL,
			   TO_CHAR(CHAT_TIME, 'YYYY-MM-DD') AS CHAT_DATE,
			   TO_CHAR(CHAT_TIME, 'AM HH":"MI') AS CHAT_TIME
		FROM "CHAT" C
		WHERE ROOM_NO = #{roomNo}
		AND CHAT_DEL_FL = 'N'
	</select>
	
	<!-- 참가자 정보 찾기 -->
	<select id="selectParticipantNo" parameterType="_int" resultMap="chatRoom_rm">
		SELECT MEMBER_NO, MEMBER_NO2
		FROM CHAT_ROOM
		WHERE ROOM_NO = #{roomNo} 
	</select>
	
	<!-- 채팅 보내기 -->
	<insert id="insertChat">
		INSERT INTO CHAT
		VALUES(SEQ_CHAT_NO.NEXTVAL, #{roomNo}, #{chatContent}, #{sendMemberNo},
			   DEFAULT, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<!-- 채팅 보내기2 -->
	<insert id="insertChat_imgType">
		INSERT INTO CHAT
		VALUES(SEQ_CHAT_NO.NEXTVAL, #{roomNo}, #{chatContent}, #{sendMemberNo},
			   DEFAULT, DEFAULT, DEFAULT, 'Y')
	</insert>
	
	<!-- 채팅방 정보 가져오기 -->
	<select id="getRoomInfo" parameterType="_int" resultMap="chatRoom_rm">
		SELECT MEMBER_NO, MEMBER_NO2
		FROM CHAT_ROOM
		WHERE ROOM_NO = #{roomNo}
	</select>
	
	<!-- 채팅 번호 찾기... -->
<!-- 	<select id="selectChatNo123" parameterType="Chat" resultType="_int">
		SELECT CHAT_NO 
		FROM 	(SELECT CHAT_NO
				FROM CHAT
				WHERE ROOM_NO = #{roomNo}
				AND SEND_MEMBER_NO = #{sendMemberNo}
				AND CHAT_CONTENT = #{chatContent}
				ORDER BY CHAT_NO DESC)
		WHERE ROWNUM = 1
	</select> -->
	
	<!-- 채팅 번호 찾기 -->
	<select id="selectChatNo" parameterType="string" resultType="_int">
		SELECT CHAT_NO 
		FROM CHAT
		WHERE CHAT_CONTENT = #{chatImgPath}
	</select>

	<!-- 채팅 이미지 넣기 -->
	<insert id="insertChatImgDb">
		INSERT INTO CHAT_IMG
		VALUES(SEQ_CHAT_IMG_NO.NEXTVAL, #{chatNo}, #{chatImgOriginal}, #{chatImgRename}, #{chatImgPath}, default)
	</insert>

	<!-- 방 번호 찾기 -->
	<select id="selectRoomNo" parameterType="ChatRoom" resultType="_int">
		SELECT NVL(MAX(ROOM_NO) ,0) AS ROOM_NO
		FROM CHAT_ROOM
		WHERE POST_NO = #{postNo} 
		AND (MEMBER_NO = #{memberNo} AND MEMBER_NO2 = #{memberNo2})
		AND CLOSED_FL = 'N'
	</select>
	
	<!-- return sqlSession.insert("chatMapper.insertNewRoom", chatRoom) -->
	<!-- 새로운 방을 생성한 후, 해당 방의 번호를 가져옴 -->
	<!-- 객체의 roonNo에 담겨져서 나왔음!! -->
	<insert id="insertNewRoom" useGeneratedKeys="true">
		<selectKey keyProperty="roomNo" resultType="_int" order="AFTER">
			SELECT SEQ_ROOM_NO.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO CHAT_ROOM VALUES(SEQ_ROOM_NO.NEXTVAL, DEFAULT, 
									#{memberNo}, DEFAULT,
									#{memberNo2}, DEFAULT,
									DEFAULT,
									#{postNo})
	</insert>
	
	
	
	<!-- 채팅방에서 다루는 상품 번호 -->
	<select id="selectRoomPostNo" parameterType="_int" resultType="_int">
		SELECT POST_NO FROM CHAT_ROOM WHERE ROOM_NO = #{roomNo}
	</select>
</mapper>