<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="graphMapper">


 <resultMap type="Graph" id="graph_rm">
        <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
     <!-- <id property = "memberNo" column="MEMBER_NO"/> -->
     <!-- 나머지 일반 컬럼 -->
      <result property="signUpCount" column="SIGNUP_COUNT" />
      <result property="signUpDate" column="SIGNUP_DATE" />
      <result property="orderCount" column="ORDER_COUNT" />
      <result property="orderDate" column="ORDER_DATE" />
      <result property="orderWeek" column="ORDER_WEEK" />
      <result property="orderSum" column="ORDER_SUM" />
      <result property="productName" column="PRODUCT_NAME" />
      <result property="productSum" column="PRODUCT_SUM" />
  </resultMap>
  
  
  <select id="selectSignUpGraph" resultMap="graph_rm">
		SELECT TO_CHAR(b.SD, 'MM-DD') AS SIGNUP_DATE
		       ,NVL(SUM(a.cnt), 0) AS SIGNUP_COUNT
		FROM ( SELECT TO_CHAR(SIGNUP_DATE, 'YYYY-MM-DD') AS SIGNUP_DATE ,COUNT(*) cnt
		        FROM MEMBER
		        WHERE SIGNUP_DATE BETWEEN SYSDATE-31 AND SYSDATE
		        GROUP BY SIGNUP_DATE
		        ) a
		       ,(SELECT (TO_DATE(SYSDATE-30,'YY-MM-DD') + LEVEL) AS SD
						FROM DUAL 
						<![CDATA[CONNECT BY LEVEL <= 31]]>) b
		WHERE b.SD = a.SIGNUP_DATE(+)
		GROUP BY b.SD
		ORDER BY b.SD 
  </select>
  
  
  <select id="selectOrderGraph" resultMap="graph_rm">
	  SELECT TO_CHAR(b.OD, 'MM-DD') AS ORDER_DATE
	    	 , NVL(SUM(a.cnt), 0) AS ORDER_COUNT
		FROM ( SELECT TO_CHAR(ORDER_DATE, 'YYYY-MM-DD') AS ORDER_DATE
		              ,COUNT(*) cnt
		        FROM "ORDER"
		        WHERE ORDER_DATE BETWEEN SYSDATE-31
		                             AND SYSDATE
		        GROUP BY ORDER_DATE
		        ) a
		      , (SELECT (TO_DATE(SYSDATE-30,'YY-MM-DD') + LEVEL) AS OD
				FROM dual 
				<![CDATA[CONNECT BY LEVEL <= 31]]>) b
		WHERE b.OD = a.ORDER_DATE(+)
		GROUP BY b.OD
		ORDER BY b.OD
  </select>
  
  <select id="orderWeekList" resultMap="graph_rm">
  	SELECT TO_CHAR(ORDER_DATE, 'YYYY-MM-DD') AS ORDER_WEEK, SUM(ORDER_PRICE) ORDER_SUM
	FROM "ORDER"
	WHERE ORDER_STATUS IN (0,1,3)
	AND TO_CHAR(ORDER_DATE, 'YYYY-MM-DD') 
	BETWEEN TO_CHAR(SYSDATE-6, 'YYYY-MM-DD') AND TO_CHAR(SYSDATE, 'YYYY-MM-DD')
	GROUP BY TO_CHAR(ORDER_DATE, 'YYYY-MM-DD')
	ORDER BY TO_CHAR(ORDER_DATE, 'YYYY-MM-DD')
  </select>
  
  <select id="productRankingList" resultMap="graph_rm">
  	SELECT a.*
	FROM(SELECT PRODUCT_NAME, (PRODUCT_PRICE*
		NVL((SELECT SUM(PRODUCT_AMOUNT)
		FROM ORDER_PRODUCT OP
		WHERE P.PRODUCT_NO = OP.PRODUCT_NO
		AND PRODUCT_STATUS = 0), 0)) PRODUCT_SUM
	FROM PRODUCT P
	ORDER BY PRODUCT_SUM DESC)a
	<![CDATA[
	WHERE ROWNUM<=5
	]]>
  </select>
  
  
  
</mapper>