<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="graphMapper">


 <resultMap type="Graph" id="graph_rm">
        <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
     <!-- <id property = "memberNo" column="MEMBER_NO"/> -->
     <!-- 나머지 일반 컬럼 -->
      <result property="signUpCount" column="SIGNUP_COUNT" />
      <result property="signUpDate" column="SIGNUP_DATE" />
      <result property="orderCount" column="ORDER_COUNT" />
      <result property="orderDate" column="ORDER_DATE" />
      <result property="orderWeek" column="ORDER_WEEK" />
      <result property="orderSum" column="ORDER_SUM" />
      <result property="productName" column="PRODUCT_NAME" />
      <result property="productSum" column="PRODUCT_SUM" />
  </resultMap>
  
  
  <select id="selectSignUpGraph" resultMap="graph_rm">
  		<![CDATA[
		SELECT SIGNUP_DATE, (SELECT COUNT(*) FROM MEMBER m WHERE TO_CHAR(m.SIGNUP_DATE, 'YYYY-MM-DD') = a.SIGNUP_DATE) SIGNUP_COUNT
 		FROM (SELECT TO_CHAR(SYSDATE - 31 + LEVEL, 'YYYY-MM-DD') SIGNUP_DATE FROM DUAL CONNECT BY LEVEL <=31) a]]>
  </select>
  
  
  <select id="selectOrderGraph" resultMap="graph_rm">
	  <![CDATA[
		SELECT ORDER_DATE, (SELECT COUNT(*) FROM "ORDER" o WHERE TO_CHAR(o.ORDER_DATE , 'YYYY-MM-DD') = a.ORDER_DATE) ORDER_COUNT
	 	FROM (SELECT TO_CHAR(SYSDATE - 31 + LEVEL, 'YYYY-MM-DD') ORDER_DATE FROM DUAL CONNECT BY LEVEL <=31) a]]>
  </select>
  
  <select id="orderWeekList" resultMap="graph_rm">
  	SELECT TO_CHAR(ORDER_DATE, 'YYYY-MM-DD') AS ORDER_WEEK, SUM(ORDER_PRICE) ORDER_SUM
	FROM "ORDER"
	WHERE ORDER_STATUS IN (0,1,3)
	AND TO_CHAR(ORDER_DATE, 'YYYY-MM-DD') 
	BETWEEN TO_CHAR(SYSDATE-6, 'YYYY-MM-DD') AND TO_CHAR(SYSDATE, 'YYYY-MM-DD')
	GROUP BY TO_CHAR(ORDER_DATE, 'YYYY-MM-DD')
	ORDER BY TO_CHAR(ORDER_DATE, 'YYYY-MM-DD')
  </select>
  
  <select id="productRankingList" resultMap="graph_rm">
  	SELECT a.*
	FROM(SELECT PRODUCT_NAME, (PRODUCT_PRICE*
		NVL((SELECT SUM(PRODUCT_AMOUNT)
		FROM ORDER_PRODUCT OP
		WHERE P.PRODUCT_NO = OP.PRODUCT_NO
		AND PRODUCT_STATUS = 0), 0)) PRODUCT_SUM
	FROM PRODUCT P
	ORDER BY PRODUCT_SUM DESC)a
	<![CDATA[
	WHERE ROWNUM<=5
	]]>
  </select>
  
  
  
</mapper>