<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inquireMapper">

	<!-- 상담방 resultMap -->
	 <resultMap type="InquireRoom" id="inquire_rm">
	        <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
	     <id property = "inquireNo" column="INQUIRE_NO"/>
	     <!-- 나머지 일반 컬럼 -->
	      <result property="inquireDate" column="INQUIRE_DATE" />
	      <result property="memberNo" column="MEMBER_NO" />
	      <result property="memberNickname" column="MEMBER_NICKNAME" />
	      <result property="profileImg" column="PROFILE_IMG" />
	      <result property="memberNo2" column="MEMBER_NO2" />
	      <result property="closedFl" column="CLOSED_FL" />
	      
	      <result property="lastSendTime" column="LAST_SEND_TIME" />
	      <result property="lastMessage" column="LAST_MESSAGE" />
	      <result property="lastSendImgFl" column="LAST_SEND_IMG_FL" />
	      <result property="unreadCount" column="UNREAD_COUNT" />
	      <result property="messageCount" column="MESSAGE_COUNT" />
	      <result property="messageTimeOrder" column="MESSAGE_TIME_ORDER" />

	 </resultMap>
	 
	 <!-- 메세지 resultMap -->
	 <resultMap type="Message" id="message_rm">
	        <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
	     <id property = "inquireNo" column="INQUIRE_NO"/>
	     <!-- 나머지 일반 컬럼 -->
	      <result property="messageNo" column="MESSAGE_NO" />
	      <result property="messageContent" column="MESSAGE_CONTENT" />
	      <result property="sendMemberNo" column="SEND_MEMBER_NO" />
	      <result property="messageDelFl" column="MESSAGE_DEL_FL" />
	      <result property="readFl" column="READ_FL" />
	      <result property="messageTime" column="MESSAGE_TIME" />
	      <result property="messageDate" column="MESSAGE_DATE" />
	      <result property="lastMessageDate" column="LAST_MESSAGE_DATE" />
	      <result property="imgFl" column="IMG_FL" />
	      
	 </resultMap>

	<!-- 메세지 이미지 resultMap -->
	 <resultMap type="MessageImg" id="messageImg_rm">
	        <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
	     <id property = "imgNo" column="IMG_NO"/>
	     <!-- 나머지 일반 컬럼 -->
	      <result property="messageNo" column="MESSAGE_NO" />
	      <result property="imgPath" column="IMG_PATH" />
	      <result property="imgDelFl" column="IMG_DEL_FL" />
	 </resultMap>
	 
	 
	 <!-- 상담방 존재 유무 확인 -->
	 <select id="checkInquireRoom" resultType="_int">
	 	SELECT NVL(SUM(INQUIRE_NO), 0) 
	 	FROM INQUIRE_ROOM
		WHERE (MEMBER_NO = #{memberNo} AND MEMBER_NO2 = #{memberNo2}) 
			OR (MEMBER_NO = #{memberNo2} AND MEMBER_NO2 = #{memberNo})
	 </select>
	 
	 <!-- 상담방 생성 -->
	 <insert id="createInquireRoom" useGeneratedKeys="true">
	 	<selectKey keyProperty="inquireNo" order="BEFORE" resultType="_int">
	 		SELECT SEQ_INQUIRE_NO.NEXTVAL FROM DUAL
	 	</selectKey>
	 	
	 	INSERT INTO INQUIRE_ROOM
	 	VALUES(#{inquireNo}, DEFAULT, #{memberNo}, #{memberNo2}, DEFAULT)
	 </insert>
	 
	 <!-- 상담방 생성 시 안내 메세지 삽입 -->
	 <insert id="insertFirstMessage">
	 	INSERT INTO MESSAGE 
		VALUES(SEQ_MESSAGE_NO.NEXTVAL,
			'먼저 접수된 순서대로 상담원이 응답을 준비하고 있습니다. 잠시만 기다려 주세요.', 0, DEFAULT
			,DEFAULT, DEFAULT, DEFAULT, #{inquireNo})
	 </insert>
	 
	 <!-- 상담방 메세지 목록 조회 -->
	 <select id="selectInquire" resultMap="message_rm">
	 	SELECT MESSAGE_NO , MESSAGE_CONTENT , SEND_MEMBER_NO , MESSAGE_DEL_FL 
			,READ_FL, TO_CHAR(MESSAGE_TIME, 'YYYY-MM-DD') AS MESSAGE_DATE,
			TO_CHAR(MESSAGE_TIME, 'AM HH":"MI') AS MESSAGE_TIME, IMG_FL, INQUIRE_NO 
		FROM MESSAGE WHERE INQUIRE_NO = #{inquireNo}
		ORDER BY MESSAGE_NO
	 </select>
	 
	 <!-- 메세지 하나 조회 -->
	 <select id="selectMessage" resultMap="message_rm">
	 	SELECT MESSAGE_NO , MESSAGE_CONTENT , SEND_MEMBER_NO , MESSAGE_DEL_FL 
			,READ_FL, TO_CHAR(MESSAGE_TIME, 'YYYY-MM-DD') AS MESSAGE_DATE,
			TO_CHAR(MESSAGE_TIME, 'AM HH":"MI') AS MESSAGE_TIME, IMG_FL, INQUIRE_NO,
			(SELECT * FROM(SELECT TO_CHAR(MESSAGE_TIME, 'YYYY-MM-DD')
			FROM MESSAGE ORDER BY MESSAGE_TIME DESC)
			WHERE ROWNUM = 1) AS LAST_MESSAGE_DATE
		FROM MESSAGE WHERE MESSAGE_NO = #{messageNo}
	 </select>
	
	<!-- 메세지 읽음처리 -->
	<update id="messageRead">
		UPDATE MESSAGE SET READ_FL = 'Y'
		WHERE INQUIRE_NO = #{inquireNo}
		AND SEND_MEMBER_NO != #{memberNo}
	</update>
	
	<!-- 안읽은 메세지 조회 -->
	<select id="unreadCheck" resultType="_int">
		SELECT COUNT(*)
		FROM MESSAGE m
		JOIN INQUIRE_ROOM ir USING(INQUIRE_NO)
		WHERE READ_FL = 'N' AND SEND_MEMBER_NO != #{memberNo}
		AND (MEMBER_NO = #{memberNo} OR MEMBER_NO2 = #{memberNo})
	</select>
	
	<!-- 메세지 삽입 -->
	<insert id="insertMessage" useGeneratedKeys="true">
		<selectKey keyProperty="messageNo" order="BEFORE" resultType="_int">
			SELECT SEQ_MESSAGE_NO.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO MESSAGE 
		VALUES(#{messageNo},
			#{messageContent}, #{sendMemberNo}, DEFAULT
			,DEFAULT, DEFAULT, #{imgFl}, #{inquireNo})
	</insert>
	
	<!-- 특정 상담방에 있는 회원 번호 조회 -->
 	<select id="selectMemberNo" resultMap="inquire_rm">
 		SELECT INQUIRE_NO, MEMBER_NO, MEMBER_NO2
 		FROM INQUIRE_ROOM
 		WHERE INQUIRE_NO = #{inquireNo}
 	</select>
 	
 	<select id="selectInquireList" resultMap="inquire_rm">
 		SELECT INQUIRE_NO, INQUIRE_DATE, MEMBER_NO, MEMBER_NO2
			,(SELECT MEMBER_NICKNAME FROM "MEMBER" M WHERE M.MEMBER_NO = IR.MEMBER_NO) MEMBER_NICKNAME 
			,(SELECT PROFILE_IMG  FROM "MEMBER" M WHERE M.MEMBER_NO = IR.MEMBER_NO) PROFILE_IMG
			,(SELECT * FROM (SELECT MESSAGE_TIME 
			FROM MESSAGE MS 
			WHERE MS.INQUIRE_NO = IR.INQUIRE_NO 
			ORDER BY MESSAGE_TIME DESC) WHERE ROWNUM = 1) LAST_SEND_TIME
			,(SELECT * FROM (SELECT MESSAGE_CONTENT 
			FROM MESSAGE MS 
			WHERE MS.INQUIRE_NO = IR.INQUIRE_NO 
			ORDER BY MESSAGE_TIME DESC) WHERE ROWNUM = 1) LAST_MESSAGE
			,(SELECT * FROM (SELECT IMG_FL 
			FROM MESSAGE MS 
			WHERE MS.INQUIRE_NO = IR.INQUIRE_NO 
			ORDER BY MESSAGE_TIME DESC) WHERE ROWNUM = 1) LAST_SEND_IMG_FL
			,(SELECT COUNT(*) 
			FROM MESSAGE MS 
			WHERE MS.INQUIRE_NO = IR.INQUIRE_NO
			AND SEND_MEMBER_NO != 0 AND READ_FL = 'N') UNREAD_COUNT
			,(SELECT COUNT(*) 
			FROM MESSAGE MS 
			WHERE MS.INQUIRE_NO = IR.INQUIRE_NO) AS MESSAGE_COUNT
		FROM INQUIRE_ROOM IR
		ORDER BY LAST_SEND_TIME DESC
 	</select>
	
</mapper>