<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">


 <resultMap type="Member" id="member_rm">
        <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
     <id property = "memberNo" column="MEMBER_NO"/>
     <!-- 나머지 일반 컬럼 -->
      <result property="memberId" column="MEMBER_ID" />
      <result property="memberPw" column="MEMBER_PW" />
      <result property="memberName" column="MEMBER_NAME" />
      <result property="memberNickname" column="MEMBER_NICKNAME" />
      <result property="to" column="MEMBER_TEL" />
      <result property="signUpDate" column="SIGNUP_DATE" />
      <result property="memberDelFl" column="MEMBER_DEL_FL" />
      <result property="memberBirth" column="MEMBER_BIRTH" />
      <result property="authority" column="AUTHORITY" />
      <result property="profileImg" column="PROFILE_IMG" />
      <result property="mypageImg" column="MYPAGE_IMG" />
      <result property="memberAddress" column="MEMBER_ADDRESS" />
      <result property="boardCount" column="BOARD_COUNT" />
      <result property="commentCount" column="COMMENT_COUNT" />
      <result property="orderCount" column="ORDER_COUNT" />
   
      
  </resultMap>

 <resultMap type="MemberAddress" id="memberAddress_rm">
        <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
     <id property = "addressNo" column="ADDRESS_NO"/>
     <!-- 나머지 일반 컬럼 -->
      <result property="memberAddress" column="MEMBER_ADDRESS" />
      <result property="defaultFl" column="DEFAULT_FL" />
      <result property="memberNo" column="MEMBER_NO" />
  </resultMap>

	<!-- 로그인 -->
	<select id="login" parameterType="String" resultMap="member_rm">
		SELECT MEMBER_NO, MEMBER_ID, MEMBER_PW, MEMBER_NAME, 
			MEMBER_NICKNAME, MEMBER_TEL ,MEMBER_DEL_FL, AUTHORITY,
			PROFILE_IMG ,MYPAGE_IMG ,MEMBER_BIRTH, TO_CHAR(SIGNUP_DATE, 'yyyy"년" MM"월" DD"일"') SIGNUP_DATE,
			(SELECT COUNT(*) FROM BOARD b WHERE b.MEMBER_NO = m.MEMBER_NO) BOARD_COUNT,
			(SELECT COUNT(*) FROM "COMMENT" c WHERE c.MEMBER_NO = m.MEMBER_NO) COMMENT_COUNT,
			(SELECT COUNT(*) FROM "ORDER" o WHERE o.MEMBER_NO = m.MEMBER_NO) ORDER_COUNT,
			(SELECT MEMBER_ADDRESS FROM ADDRESS a WHERE a.MEMBER_NO = m.MEMBER_NO AND DEFAULT_FL = 'Y') MEMBER_ADDRESS
		FROM MEMBER m
		WHERE MEMBER_DEL_FL = 'N'
		AND MEMBER_ID = #{memberId}
	</select>
	
	<!-- 신고 여부 조회 -->
	<select id="checkReport" parameterType="_int" resultType="string">
		SELECT TO_CHAR(REPORT_DATE, 'YYYY-MM-DD HH24:MI:SS') REPORT_DATE
		FROM REPORT
		WHERE REPORT_TARGET_NO = #{memberNo}
		AND REPORT_PENALTY = 'Y'
		ORDER BY REPORT_DATE DESC
	</select>
	
	<!-- 회원 가입(구매자) -->
	<insert id="signUp0" parameterType="Member" useGeneratedKeys="true">
		<selectKey keyProperty="memberNo" resultType="_int" order="BEFORE">
			SELECT SEQ_MEMBER_NO.NEXTVAL FROM DUAL
		</selectKey>
	
		INSERT INTO MEMBER VALUES(#{memberNo}, #{memberId}, #{memberPw}, #{memberName},
	   #{memberNickname}, #{to}, DEFAULT, DEFAULT, 0, NULL, NULL, #{memberBirth})
	</insert>
	
	<!-- 회원 가입(판매자) -->
	<insert id="signUp1" parameterType="Member" useGeneratedKeys="true">
		<selectKey keyProperty="memberNo" resultType="_int" order="BEFORE">
			SELECT SEQ_MEMBER_NO.NEXTVAL FROM DUAL
		</selectKey>
	
		INSERT INTO MEMBER VALUES(#{memberNo}, #{memberId}, #{memberPw}, #{memberName},
	   #{memberNickname}, #{to}, DEFAULT, DEFAULT, 3, NULL, NULL, #{memberBirth})
	</insert>
	
	<!-- 주소 삽입 -->
	<insert id="insertMemberAddressList">
		INSERT INTO ADDRESS VALUES(SEQ_ADDRESS_NO.NEXTVAL, #{memberAddress},'Y', #{memberNo})
	</insert>
	
	<!-- 채팅방에서 사용할 회원 닉네임과 이미지를 가져옵니다 -->
	<select id="selectPartnerInfo" parameterType="_int" resultMap="member_rm">
		SELECT MEMBER_NICKNAME, PROFILE_IMG
		FROM "MEMBER"
		WHERE MEMBER_NO = #{memberNo}
	</select>

	<!-- 아이디 찾기 -->
	<select id="findId" resultMap="member_rm">
		SELECT MEMBER_ID, TO_CHAR(SIGNUP_DATE, 'YYYY"년"MM"월"DD"일"') SIGNUP_DATE FROM "MEMBER" 
		WHERE MEMBER_NAME = #{memberName}
		AND MEMBER_TEL = #{to}
	</select>

	<!-- 비밀번호 찾기 -->
	<select id="findPw" resultMap="member_rm">
		SELECT MEMBER_PW, MEMBER_NO FROM "MEMBER" 
		WHERE MEMBER_NAME = #{memberName}
		AND MEMBER_TEL = #{to}
		AND MEMBER_ID = #{memberId}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="changePw">
		UPDATE "MEMBER" SET
		MEMBER_PW = #{newPw}
		WHERE MEMBER_NO = #{memberNo}
	</update>

</mapper>