<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">


 <resultMap type="Member" id="member_rm">
        <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
     <id property = "memberNo" column="MEMBER_NO"/>
     <!-- 나머지 일반 컬럼 -->
      <result property="memberId" column="MEMBER_ID" />
      <result property="memberPw" column="MEMBER_PW" />
      <result property="memberName" column="MEMBER_NAME" />
      <result property="memberNickname" column="MEMBER_NICKNAME" />
      <result property="memberTel" column="MEMBER_TEL" />
      <result property="memberAddress" column="MEMBER_ADDRESS" />
      <result property="signUpDate" column="SIGNUP_DATE" />
      <result property="memberDelFl" column="MEMBER_DEL_FL" />
      <result property="memberBirth" column="MEMBER_BIRTH" />
      <result property="authority" column="AUTHORITY" />
      <result property="profileImg" column="PROFILE_IMG" />
      <result property="mypageImg" column="MYPAGE_IMG" />
  </resultMap>


<select id="login" parameterType="String" resultMap="member_rm">
	SELECT MEMBER_NO, MEMBER_ID, MEMBER_PW, MEMBER_NAME, 
	MEMBER_NICKNAME, MEMBER_TEL ,MEMBER_DEL_FL ,SIGNUP_DATE,AUTHORITY,PROFILE_IMG ,MYPAGE_IMG ,MEMBER_BIRTH
	FROM MEMBER
	WHERE MEMBER_DEL_FL = 'N'
	AND MEMBER_ID = #{memberId}
</select>

<select id="checkReport" parameterType="_int" resultType="string">
	SELECT TO_CHAR(REPORT_DATE, 'YYYY-MM-DD HH24:MI:SS') REPORT_DATE
	FROM REPORT
	WHERE REPORT_TARGET_NO = #{memberNo}
	AND REPORT_PENALTY = 'Y'
	ORDER BY REPORT_DATE DESC
</select>


</mapper>