<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myPageMapper">


 <resultMap type="Comment" id="comment_rm">
        <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
     <id property = "commentNo" column="COMMENT_NO"/>
     <!-- 나머지 일반 컬럼 -->
      <result property="commentContent" column="COMMENT_CONTENT" />
      <result property="commentCount" column="COMMENT_COUNT" />
      <result property="commentDate" column="COMMENT_DATE" />
      <result property="boardNo" column="BOARD_NO" />
      <result property="boardTitle" column="BOARD_TITLE" />
      <result property="memberNo" column="MEMBER_NO" />
      <result property="commentParent" column="COMMENT_PARENT" />
  </resultMap>
  
   <resultMap type="Order" id="order_rm">
        <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
     <id property = "orderNo" column="ORDER_NO"/>
     <!-- 나머지 일반 컬럼 -->
      <result property="memberNo" column="MEMBER_NO" />
      <result property="orderDate" column="ORDER_DATE" />
      <result property="orderStatus" column="ORDER_STATUS" />
      <result property="invoiceNo" column="INVOICE_NO" />
      <result property="orderPrice" column="ORDER_PRICE" />
      
     <collection property="productList" 
		  javaType="java.util.ArrayList" ofType="Product"
		  select="selectProductList"
		  column = "ORDER_NO"/>
  </resultMap>
  
  <!-- 팜팜 상품 resultMap -->
 <resultMap type="Product" id="product_rm">
        <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
     <id property = "productNo" column="PRODUCT_NO"/>
     <!-- 나머지 일반 컬럼 -->
      <result property="productName" column="PRODUCT_NAME" />
      <result property="productPrice" column="PRODUCT_PRICE" />
      <result property="productAmount" column="PRODUCT_AMOUNT" />
      <result property="productImg" column="PRODUCT_IMG" />       			  
      <result property="wishDate" column="WISH_DATE" />       			  
  </resultMap>
  
  
 <resultMap type="Board" id="board_rm">
        <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
     <id property = "boardNo" column="BOARD_NO"/>
     <!-- 나머지 일반 컬럼 -->
      <result property="boardTitle" column="BOARD_TITLE" />
      <result property="boardDate" column="BOARD_DATE" />
      <result property="boardView" column="BOARD_VIEW" />
      <result property="memberNo" column="MEMBER_NO" />
      <result property="boardTypeNo" column="BOARD_TYPE_NO" />
      <result property="commentCount" column="COMMENT_COUNT" />
      <result property="thumbnail" column="BOARD_THUMBNAIL" />
      
  </resultMap>
  
  
   <!-- 팜팜 상품 리뷰 resultMap --> 
 <resultMap type="Review" id="review_rm">
        <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
     <id property = "reviewNo" column="REVIEW_NO"/>

     <!-- 나머지 일반 컬럼 -->
      <result property="reviewContent" column="REVIEW_CONTENT" />
      <result property="memberNo" column="MEMBER_NO" />
      <result property="productNo" column="PRODUCT_NO" />
      <result property="productName" column="PRODUCT_NAME" />
      <result property="createDate" column="CREATE_DATE" />
      <result property="likeCheck" column="LIKE_CHECK" />
      <result property="likeCount" column="LIKE_COUNT" />
      
      
      <result property="memberNickname" column="MEMBER_NICKNAME" />
      <result property="profileImg" column="PROFILE_IMG" />
      
      
      
      <collection property="imgList" 
      			  javaType="java.util.ArrayList" ofType="ReviewImg"
      			  select="selectReviewImgList"
      			  column = "REVIEW_NO"/>
  </resultMap>

 <!-- 팜팜 상품 리뷰 이미지 resultMap -->
 <resultMap type="ReviewImg" id="reviewImg_rm">
        <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
     <id property = "reviewImgNo" column="REVIEW_IMG_NO"/>

     <!-- 나머지 일반 컬럼 -->
      <result property="reviewImgPath" column="REVIEW_IMG_PATH" />
      <result property="reviewImgOrder" column="REVIEW_IMG_ORDER" />
      <result property="reviewNo" column="REVIEW_NO" />
  </resultMap>
  
  

<!-- 작성 댓글 수 조회 -->
<select id="commentCount" resultType="_int">
	SELECT COUNT(*) FROM "COMMENT"
	WHERE MEMBER_NO = #{memberNo}
	AND COMMENT_DEL_FL = 'N'
</select>

<!-- 작성 댓글 목록 조회 -->
<select id="selectCommentList" resultMap="comment_rm">
	SELECT c.COMMENT_NO, c.COMMENT_CONTENT , c.COMMENT_DATE , c.BOARD_NO , b.BOARD_TITLE ,
	(SELECT COUNT(*) FROM "COMMENT" c2 WHERE c2.BOARD_NO = b.BOARD_NO) COMMENT_COUNT 
	FROM "COMMENT" c
	JOIN BOARD b ON (c.BOARD_NO = b.BOARD_NO)
	WHERE c.MEMBER_NO = #{memberNo} AND COMMENT_DEL_FL = 'N'
	ORDER BY c.COMMENT_DATE DESC
</select>


<!-- 주문 수 조회 -->
<select id="orderCount" resultType="_int">
	SELECT COUNT(*) FROM "ORDER" WHERE MEMBER_NO = #{memberNo}
</select>

<!-- 주문 목록 조회 -->
<select id="selectOrderList" resultMap="order_rm">
	SELECT DISTINCT ORDER_NO , ORDER_DATE , ORDER_STATUS , MEMBER_NO , INVOICE_NO, TO_CHAR(ORDER_PRICE, '999,999,999,999') ORDER_PRICE
	FROM "ORDER"
	JOIN ORDER_PRODUCT op USING(ORDER_NO)
	WHERE MEMBER_NO = #{memberNo}
	ORDER BY ORDER_NO DESC
</select>

<!-- 주문한 상품 목록 조회 -->
<select id="selectProductList" resultMap="product_rm">
	SELECT op.PRODUCT_NO , op.PRODUCT_AMOUNT, PRODUCT_NAME, PRODUCT_PRICE,
		(SELECT PRODUCT_IMG_ADDRESS 
		FROM PRODUCT_IMG pi3 
		WHERE pi3.PRODUCT_NO = op.PRODUCT_NO 
		AND PRODUCT_IMG_ORDER = 0) PRODUCT_IMG
	FROM ORDER_PRODUCT op 
	JOIN PRODUCT p ON (op.PRODUCT_NO = p.PRODUCT_NO)
	WHERE ORDER_NO = #{orderNo}
</select>

<!-- 작성 게시글 수 조회 -->
<select id="boardCount" resultType="_int">
	SELECT COUNT(*) FROM BOARD WHERE MEMBER_NO = #{memberNo} AND BOARD_DEL_FL = 'N'
</select>


<!-- 작성 게시글 목록 조회 -->
<select id="selectBoardList" resultMap="board_rm">
	SELECT BOARD_NO , SUBSTRB(BOARD_TITLE,1,75) BOARD_TITLE , 
	TO_CHAR(BOARD_DATE, 'yyyy.MM.DD') BOARD_DATE, BOARD_VIEW, BOARD_TYPE_NO,
	(SELECT COUNT(*) FROM "COMMENT" c WHERE c.BOARD_NO = b.BOARD_NO) COMMENT_COUNT,
	(SELECT BOARD_IMG_ADDRESS FROM BOARD_IMG bi WHERE bi.BOARD_NO = b.BOARD_NO AND BOARD_IMG_ORDER = 0) BOARD_THUMBNAIL
	FROM BOARD b WHERE MEMBER_NO = #{memberNo} AND BOARD_DEL_FL ='N'
	<if test='sortFl.equals("V")'>
	ORDER BY BOARD_VIEW DESC, BOARD_DATE
	</if>
	<if test='sortFl.equals("N")'>
	ORDER BY BOARD_DATE DESC, BOARD_VIEW
	</if>
</select>

<!-- 작성 후기 수 조회 -->
<select id="reviewCount" resultType="_int">
	SELECT COUNT(*) FROM REVIEW WHERE MEMBER_NO = #{memberNo} AND REVIEW_DEL_FL = 'N'
</select>

<!-- 작성 후기 목록 조회 -->
<select id="selectReviewList" resultMap="review_rm">
	SELECT REVIEW_NO, REVIEW_CONTENT, PRODUCT_NO, PRODUCT_NAME, TO_CHAR(CREATE_DATE, 'yyyy.MM.DD') CREATE_DATE,
	(SELECT COUNT(*) FROM REVIEW_LIKE rl WHERE rl.REVIEW_NO = r.REVIEW_NO) LIKE_COUNT
	FROM REVIEW r
	JOIN PRODUCT p USING(PRODUCT_NO)
	WHERE r.MEMBER_NO = #{memberNo}
</select>

<!-- 상품 리뷰 이미지 목록 조회 -->
<select id="selectReviewImgList" resultMap="reviewImg_rm">
	SELECT * FROM REVIEW_IMG ri
	WHERE REVIEW_NO = #{reviewNo}
</select>

<!-- 찜 수 조회 -->
<select id="wishCount" resultType="_int">
	SELECT COUNT(*) FROM WISH WHERE MEMBER_NO = #{memberNo}
</select>

<!-- 찜 목록 조회 -->
<select id="selectWishList" resultMap="product_rm">
	SELECT w.PRODUCT_NO, PRODUCT_NAME, TO_CHAR(PRODUCT_PRICE, '999,999,999,999') PRODUCT_PRICE,
		TO_CHAR(WISH_DATE, 'yyyy.MM.DD') WISH_DATE,
		(SELECT PRODUCT_IMG_ADDRESS 
		FROM PRODUCT_IMG pi2 
		WHERE pi2.PRODUCT_NO = p.PRODUCT_NO 
		AND PRODUCT_IMG_ORDER = 0) PRODUCT_IMG
	FROM WISH w 
	JOIN PRODUCT p ON (p.PRODUCT_NO = w.PRODUCT_NO)
	WHERE MEMBER_NO = #{memberNo}
	ORDER BY WISH_DATE DESC
	
</select>


</mapper>