<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myPageMapper">


 <resultMap type="Comment" id="comment_rm">
        <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
     <id property = "commentNo" column="COMMENT_NO"/>
     <!-- 나머지 일반 컬럼 -->
      <result property="commentContent" column="COMMENT_CONTENT" />
      <result property="commentCount" column="COMMENT_COUNT" />
      <result property="commentDate" column="COMMENT_DATE" />
      <result property="boardNo" column="BOARD_NO" />
      <result property="boardTitle" column="BOARD_TITLE" />
      <result property="memberNo" column="MEMBER_NO" />
      <result property="commentParent" column="COMMENT_PARENT" />
  </resultMap>



<select id="commentCount" resultType="_int">
	SELECT COUNT(*) FROM "COMMENT"
	WHERE MEMBER_NO = #{memberNo}
	AND COMMENT_DEL_FL = 'N'
</select>

<select id="selectCommentList" resultMap="comment_rm">
	SELECT c.COMMENT_NO, c.COMMENT_CONTENT , c.COMMENT_DATE , c.BOARD_NO , b.BOARD_TITLE ,
	(SELECT COUNT(*) FROM "COMMENT" c2 WHERE c2.BOARD_NO = b.BOARD_NO) COMMENT_COUNT 
	FROM "COMMENT" c
	JOIN BOARD b ON (c.BOARD_NO = b.BOARD_NO)
	WHERE c.MEMBER_NO = #{memberNo} AND COMMENT_DEL_FL = 'N'
	ORDER BY c.COMMENT_DATE DESC
</select>



</mapper>