<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="postListMapper">


	 <resultMap type="Post" id="postList_rm">
	        <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
	     <id property = "postNo" column="POST_NO"/>
	     <!-- 나머지 일반 컬럼 -->
	      <result property="postTitle" column="POST_TITLE" />
	      <result property="unitPrice" column="UNIT_PRICE" />
	      <result property="categoryNo" column="CATEGORY_NO" />
	      <result property="postContent" column="POST_CONTENT" />
	      <result property="thumbnailImg" column="THUMBNAIL_IMG" />
	      <result property="postView" column="POST_VIEW" />
	      <result property="postDelFl" column="POST_DEL_FL" />
	      <result property="postSoldoutFl" column="POST_SOLDOUT_FL" />
	 </resultMap>



	<!-- 모든 상품 목록을 불러오는 SQL -->
	<select id="getPostList_all" parameterType="SearchItem" resultMap="postList_rm">
		SELECT POST_NO, POST_TITLE,
			   TO_CHAR(UNIT_PRICE, 'FM999,999,999,999') UNIT_PRICE, 
		       CATEGORY_NO, POST_CONTENT, POST_VIEW, POST_SOLDOUT_FL,
				(SELECT POST_IMG_ADDRESS
			   	FROM POST_IMG PIMG
			   	WHERE PIMG.POST_NO = P.POST_NO
			   	AND POST_IMG_ORDER = 0
			   	AND ROWNUM = 1) AS THUMBNAIL_IMG
		FROM POST P
		WHERE POST_DEL_FL = 'N'
		<if test=' keyword != null '>
			AND POST_TITLE LIKE '%${keyword}%' 
		</if>
		<if test=' soldOutFl == 0 '>
			AND POST_SOLDOUT_FL = 0  
		</if>
		ORDER BY POST_SOLDOUT_FL
		<if test=' sort != null'>
			<choose>
				<when test=' sort == "views" '>
					,POST_VIEW DESC, POST_NO DESC
				</when>
				<when test=' sort == "newest" '>
					,POST_NO DESC, POST_NO DESC
				</when>
				<when test=' sort == "priceLowToHigh" '>
					,TO_NUMBER(UNIT_PRICE,'999999999999'), POST_NO DESC
				</when>
				<when test=' sort == "priceHighToLow" '>
					,TO_NUMBER(UNIT_PRICE,'999999999999') DESC, POST_NO DESC
				</when>
			</choose>
		</if>

	</select>
	
		<!-- 모든 상품 목록을 불러오는 SQL -->
	<select id="getPostListAll" parameterType="SearchItem" resultMap="postList_rm">
		SELECT POST_NO, POST_TITLE,
			   TO_CHAR(UNIT_PRICE, 'FM999,999,999,999') UNIT_PRICE, 
		       CATEGORY_NO, POST_CONTENT, POST_VIEW, POST_SOLDOUT_FL,
				(SELECT POST_IMG_ADDRESS
			   	FROM POST_IMG PIMG
			   	WHERE PIMG.POST_NO = P.POST_NO
			   	AND POST_IMG_ORDER = 0
			   	AND ROWNUM = 1) AS THUMBNAIL_IMG
		FROM POST P
		WHERE POST_DEL_FL = 'N'
		AND POST_SOLDOUT_FL = 0 
		</select>
	
	<!-- 모든 상품 목록의 개수를 가져오는 SQL -->
	<select id="getCount_all" parameterType="SearchItem" resultType="_int">
		SELECT COUNT(*)
		FROM POST
		WHERE POST_DEL_FL = 'N'
		<if test=' soldOutFl == 0 '>
			AND POST_SOLDOUT_FL = 0  
		</if>
		<if test=' #{keyword} != null '>
			AND POST_TITLE LIKE '%' || #{keyword} || '%' 
		</if>
	</select>
	
	<!-- 선택한 상품의 카테고리 목록을 불러오는 SQL -->
	<select id="getPostList_checked" parameterType="SearchItem" resultMap="postList_rm">
		SELECT POST_NO, POST_TITLE, 
			   TO_CHAR(UNIT_PRICE, 'FM999,999,999,999') UNIT_PRICE, 
			   CATEGORY_NO, POST_CONTENT, POST_VIEW, POST_SOLDOUT_FL,
				(SELECT POST_IMG_ADDRESS
			   	FROM POST_IMG PIMG
			   	WHERE PIMG.POST_NO = P.POST_NO
			   	AND POST_IMG_ORDER = 0
			   	AND ROWNUM = 1) AS THUMBNAIL_IMG
		FROM POST P
		WHERE POST_DEL_FL = 'N'
		AND CATEGORY_NO = #{category} 
		<if test=' keyword != null '>
			AND POST_TITLE LIKE '%${keyword}%' 
		</if>
		<if test=' soldOutFl == 0 '>
			AND POST_SOLDOUT_FL = 0    
		</if>
		ORDER BY POST_SOLDOUT_FL,
		<if test=' sort != null'>
			<choose>
				<when test=' sort == "views" '>
					POST_VIEW DESC, POST_NO DESC
				</when>
				<when test=' sort == "newest" '>
					POST_NO DESC, POST_NO DESC
				</when>
				<when test=' sort == "priceLowToHigh" '>
					TO_NUMBER(UNIT_PRICE,'999999999999'), POST_NO DESC
				</when>
				<when test=' sort == "priceHighToLow" '>
					TO_NUMBER(UNIT_PRICE,'999999999999') DESC, POST_NO DESC
				</when>
			</choose>
		</if>

	</select>
	
	<!-- 모든 상품 목록의 개수를 가져오는 SQL -->
	<select id="getCount_checked" parameterType="SearchItem" resultType="_int">
		SELECT COUNT(*)
		FROM POST
		WHERE POST_DEL_FL = 'N'
		AND CATEGORY_NO = #{category}
		<if test=' #{keyword} != null '>
			AND POST_TITLE LIKE '%' || #{keyword} || '%' 
		</if>
		<if test=' soldOutFl == 0 '>
			AND POST_SOLDOUT_FL = 0  
		</if>
	</select>
	
	<!-- 채팅방에서 다루는 상품 정보를 가져옵니다! -->
	<select id="selectPostInfo" parameterType="_int" resultMap="postList_rm">
		SELECT POST_TITLE, 
			  	(SELECT POST_IMG_ADDRESS
			   	FROM POST_IMG PIMG
			   	WHERE PIMG.POST_NO = P.POST_NO
			   	AND POST_IMG_ORDER = 0
			   	AND ROWNUM = 1) AS THUMBNAIL_IMG
		FROM POST P
		WHERE POST_NO = #{postNo}
	</select>

<!-- 판매자가 탈퇴시 판매글 soldout 처리 -->
<update id="updateSoldout">
	UPDATE "POST" SET
	POST_SOLDOUT_FL = 1
	${condition}
</update>

</mapper>