<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productListMapper">


	 <resultMap type="Product" id="productList_rm">
	        <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
	     <id property = "productNo" column="PRODUCT_NO"/>
	     <!-- 나머지 일반 컬럼 -->
	      <result property="productName" column="PRODUCT_NAME" />
	      <result property="productPrice" column="PRODUCT_PRICE" />
	      <result property="categoryNo" column="CATEGORY_NO" />
	      <result property="productMessage" column="PRODUCT_MESSAGE" />
	      <result property="thumbnailImg" column="THUMBNAIL_IMG" />
	      <result property="rates" column="RATES" />
	      <result property="productDelFl" column="PRODUCT_DEL_FL" />
	 </resultMap>



	<!-- 모든 상품 목록을 불러오는 SQL -->
	<select id="getProductList_all" parameterType="SearchItem" resultMap="productList_rm">
		SELECT PRODUCT_NO, PRODUCT_NAME,
			   TO_CHAR(PRODUCT_PRICE, 'FM999,999,999,999') PRODUCT_PRICE, 
		       CATEGORY_NO, PRODUCT_MESSAGE,
			   (SELECT PRODUCT_IMG_ADDRESS
			   	FROM PRODUCT_IMG PIMG
			   	WHERE PIMG.PRODUCT_NO = P.PRODUCT_NO
			   	AND PRODUCT_IMG_ORDER = 0) AS THUMBNAIL_IMG,
			   (SELECT COUNT(*) 
			   	FROM "ORDER_PRODUCT" O
			   	WHERE  P.PRODUCT_NO = O.PRODUCT_NO) RATES
		FROM PRODUCT P
		WHERE PRODUCT_DEL_FL = 'N'
		<if test=' keyword != null '>
			AND PRODUCT_NAME LIKE '%${keyword}%' 
		</if>
		<if test=' sort != null'>
			<choose>
				<when test=' sort == "rates" '>
					ORDER BY RATES DESC
				</when>
				<when test=' sort == "newest" '>
					ORDER BY PRODUCT_NO DESC
				</when>
				<when test=' sort == "priceLowToHigh" '>
					ORDER BY TO_NUMBER(PRODUCT_PRICE,'999999999999')
				</when>
				<when test=' sort == "priceHighToLow" '>
					ORDER BY TO_NUMBER(PRODUCT_PRICE,'999999999999') DESC
				</when>
			</choose>
		</if>

	</select>
	
	<!-- 모든 상품 목록의 개수를 가져오는 SQL -->
	<select id="getCount_all" parameterType="SearchItem" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT
		WHERE PRODUCT_DEL_FL = 'N'
		<if test=' #{keyword} != null '>
			AND PRODUCT_NAME LIKE '%' || #{keyword} || '%'
		</if>
	</select>
	
	<!-- 선택한 상품의 카테고리 목록을 불러오는 SQL -->
	<select id="getProductList_checked" parameterType="SearchItem" resultMap="productList_rm">
		SELECT PRODUCT_NO, PRODUCT_NAME, 
			   TO_CHAR(PRODUCT_PRICE, 'FM999,999,999,999') PRODUCT_PRICE, 
			   CATEGORY_NO, PRODUCT_MESSAGE,
			   (SELECT PRODUCT_IMG_ADDRESS
			   	FROM PRODUCT_IMG PIMG
			   	WHERE PIMG.PRODUCT_NO = P.PRODUCT_NO
			   	AND PRODUCT_IMG_ORDER = 0) AS THUMBNAIL_IMG,
			   (SELECT COUNT(*) 
			   	FROM "ORDER_PRODUCT" O
			   	WHERE  P.PRODUCT_NO = O.PRODUCT_NO) RATES
		FROM PRODUCT P
		WHERE PRODUCT_DEL_FL = 'N'
		AND CATEGORY_NO = #{category} 
		<if test=' keyword != null '>
			AND PRODUCT_NAME LIKE '%${keyword}%' 
		</if>
		<if test=' sort != null'>
			<choose>
				<when test=' sort == "rates" '>
					ORDER BY RATES DESC
				</when>
				<when test=' sort == "newest" '>
					ORDER BY PRODUCT_NO DESC
				</when>
				<when test=' sort == "priceLowToHigh" '>
					ORDER BY TO_NUMBER(PRODUCT_PRICE,'999999999999')
				</when>
				<when test=' sort == "priceHighToLow" '>
					ORDER BY TO_NUMBER(PRODUCT_PRICE,'999999999999') DESC
				</when>
			</choose>
		</if>

	</select>
	
	<!-- 모든 상품 목록의 개수를 가져오는 SQL -->
	<select id="getCount_checked" parameterType="SearchItem" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT
		WHERE PRODUCT_DEL_FL = 'N'
		AND CATEGORY_NO = #{category}
		<if test=' #{keyword} != null '>
			AND PRODUCT_NAME LIKE '%' || #{keyword} || '%' 
		</if>
	</select>


</mapper>