<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sellerMapper">


 <resultMap type="Member" id="member_rm">
        <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
     <id property = "memberNo" column="MEMBER_NO"/>
     <!-- 나머지 일반 컬럼 -->
      <result property="memberId" column="MEMBER_ID" />
      <result property="memberPw" column="MEMBER_PW" />
      <result property="memberName" column="MEMBER_NAME" />
      <result property="memberNickname" column="MEMBER_NICKNAME" />
      <result property="memberTel" column="MEMBER_TEL" />
      <result property="memberAddress" column="MEMBER_ADDRESS" />
      <result property="signUpDate" column="SIGNUP_DATE" />
      <result property="memberDelFl" column="MEMBER_DEL_FL" />
      <result property="memberBirth" column="MEMBER_BIRTH" />
      <result property="authority" column="AUTHORITY" />
      <result property="profileImg" column="PROFILE_IMG" />
      <result property="mypageImg" column="MYPAGE_IMG" />
      <result property="farmImg" column="FARM_IMG" />
      <result property="postCount" column="POST_COUNT" />
  </resultMap>
  
  <resultMap type="Post" id="post_rm">
  	<id property="postNo" column="POST_NO"/>
  	
  	<result property="postTitle" column="POST_TITLE"/>
  	<result property="postContent" column="POST_CONTENT"/>
  	<result property="postView" column="POST_VIEW"/>
  	<result property="postDate" column="POST_DATE"/>
  	<result property="unitPrice" column="UNIT_PRICE"/>
  	<result property="openDate" column="OPEN_DATE"/>
  	<result property="postSoldoutFl" column="POST_SOLDOUT_FL"/>
  	<result property="postDelFl" column="POST_DEL_FL"/>
  	<result property="memberNo" column="MEMBER_NO"/>
  	<result property="categoryNo" column="CATEGORY_NO"/>
  	<result property="postImgAddress" column="POST_IMG_ADDRESS"/>
   	<collection property="postImgList" 
      			  javaType="java.util.ArrayList" ofType="PostImg"
      			  select="selectPostImgList"
      			  column = "POST_NO"/>
  </resultMap>
  
  <resultMap type="PostImg" id="postImg_rm">
  	<id property="postImgNo" column="POST_IMG_NO"/>
  	
  	<result property="postImgAddress" column="POST_IMG_ADDRESS"/>
  	<result property="postNo" column="POST_NO"/>
  	<result property="postImgOrder" column="POST_IMG_ORDER"/>
  
  </resultMap>

	<!-- 멤버 기본 정보 조회 -->
	<select id="selectMemberInfo" resultMap="member_rm">
		SELECT MEMBER_NAME, MEMBER_NICKNAME, PROFILE_IMG,
			TO_CHAR(SIGNUP_DATE, 'YYYY-MM-DD') SIGNUP_DATE,
			(SELECT COUNT(*) FROM POST P 
			WHERE P.MEMBER_NO = M.MEMBER_NO) POST_COUNT
		FROM MEMBER M
		WHERE M.MEMBER_NO=#{memberNo}
	</select>
	
	<!-- 판매글 수 조회 -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM POST
		WHERE MEMBER_NO=#{memberNo}
		AND POST_DEL_FL='N'
	</select>
	
	<!-- 판매글 리스트 조회 -->
	<select id="selectPostList" resultMap="post_rm">
		SELECT POST_TITLE, UNIT_PRICE, POST_VIEW, POST_IMG_ADDRESS,
			TO_CHAR(POST_DATE, 'YYYY-MM-DD') POST_DATE, POST_SOLDOUT_FL
		FROM POST
		JOIN POST_IMG USING(POST_NO)
		WHERE MEMBER_NO=#{memberNo}
		AND POST_IMG_ORDER=0
		ORDER BY POST_DATE
	</select>
	
	

</mapper>