@import "../../css/root-style.css";

.inquire-container {
  width: 350px;
  height: 500px;
  background-color: white;

  position: fixed;
  bottom: 5px;
  right: 5px;

  z-index: 1001;

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: var(--main-font-size);

  box-shadow: 0 0 8px rgba(0,0,0,0.5);

}

.inquire-header {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--large-font-size);
  font-weight: bold;
  color: var(--point-color);
  position: relative;
}

#inquireClose {
  font-size: var(--title-font-size);
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer;
}

.inquire-content {
  width: 95%;
  height: 400px;

  padding: 10px 5px;
  background-color: hwb(41 81% 3%);
  border-radius: 5px;

  overflow-y: scroll;
  overflow-x: hidden;
}

.inquire-content::-webkit-scrollbar {
  width: 8px;  /* 스크롤바의 너비 */
}

.inquire-content::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: var(--point-color); /* 스크롤바의 색상 */
  
  border-radius: 10px;
}

.inquire-content::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

.message-date {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: var(--main-font-size);
  color: var(--point-color);
  font-weight: bold;
}

.receive {
  width: 100%;

  margin: 15px 5px;
  display: flex;
  
}

.receive > span {
  display: block;
  margin: 5px 5px;
  width: fit-content;
  max-width: 65%;
  padding: 5px 5px;
  border-radius: 5px;
  background-color: #d3c5f3
  
}

.send  {
  width: 100%;


  margin: 15px 5px;
  display: flex;
  justify-content: end;

  position: relative;
}

.send  > span{
  display: block;
  width: fit-content;
  max-width: 65%;
  padding: 5px 5px;
  margin: 5px 5px;
  
  border-radius: 5px;
  
  background-color: #9df59d;
}

div.message-time {

  display: flex;
  align-items: flex-end;

  margin-bottom: 5px;

  font-size: var(--small-font-size);
  color: var(--sub-font-color);
}

.img-container {
  margin: 5px 5px;
  width: 200px;
}

.img-container > img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.input-area {
  width: 100%;
  height: 50px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-border {
  width: 85%;
  border: 1px solid #acacac;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.input-border > textarea {
  resize: none;
  width: 90%;
  height: 28px;
  outline: none;
  padding: 3px 5px;
  border: none;
}

.input-border > textarea::-webkit-scrollbar {
  display: none;
}

.file-label {
  cursor: pointer;

}

.image-upload {
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--large-font-size);
}

.send-btn {
  width: 30px;
  height: 30px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--large-font-size);
  background-color: white;
  color: var(--point-color);
  border: none;

}


.hide-room {
  display: none;
  opacity: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.appear-room {
  animation: fade-in-room 0.5s;
  animation-fill-mode: forwards;
  display: flex;
}

.disappear-room {
  animation: fade-out-room 0.5s;
  animation-fill-mode: forwards;
}


@keyframes fade-in-room {
  from {
    width: 50px;
    height: 50px;
    opacity: 0;
    
  }
  to {
    width: 350px;
    height: 500px;
    opacity: 1;
  }
}

@keyframes fade-out-room {
  from {
    width: 350px;
    height: 500px;
    opacity: 1;
    
  }
  to {
    width: 50px;
    height: 50px;
    opacity: 0;
  }
}