@import "../../css/root-style.css";

/* 채팅, 탑버튼 */
.btn-go-to-top {
  position: fixed;
  right: 40px;
  bottom: 70px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--background-color);
  cursor: pointer;
}

#showChatWidget{
  display: none;
}

#showChatWidget:checked + .btn-chat{
  background-color: var(--point-color);
}

#showChatWidget:checked + .btn-chat > i{
  color: white;
}


.btn-chat {
  position: fixed;
  right: 40px;
  bottom: 130px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--background-color);
  border: none;
  cursor: pointer;
}

#chatAlarmDot{
  position: fixed;
  right: 37px;
  bottom: 161px;
  display: none;
}

#chatAlarmDot > i{
  color: red;
}

.btn-chat:hover {
  background-color: var(--point-color);
}

.btn-go-to-top:hover {
  background-color: var(--point-color);
}

.go-to-top-icon {
  font-size: 1.5em;
  color: #555;
}

.btn-chat:hover > .go-to-top-icon {
  color: var(--background-color);
}

.btn-go-to-top:hover > .go-to-top-icon {
  color: var(--background-color);
}

/* footer */
footer {
  width: 100%;
  height: 300px;
  background-color: var(--background-color);

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  color: var(--main-font-color);
  border-top: 1px solid #ccc;
}

.footer{
  display: flex;
}

.footer-wrap1, .footer-wrap2{
  margin: 0 110px;
}

.day{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer-wrap1 p:nth-child(1){
  font-size: 25px;
  font-weight: 700;
}

.footer-wrap1 p:nth-child(2){
  margin-left: 15px;
}

.footer-wrap1 p:nth-child(3){
  color: var(--sub-font-color);
  font-size: var(--medium-font-size);
}

.part1{
  font-size: var(--main-font-size);
  margin-bottom: 15px;
}
.part2{
  font-size: var( --small-font-size);
  margin-bottom: 25px;
}

.part2 p:last-child{
  color: var(--sub-font-color);
}

.part3{
  display: flex;
  align-items: center;
}

.part3 > a{
  margin: 0 5px;
}

.part3 img{
  width: 90px;
  margin-right: 7px;
  cursor: pointer;
}






/* footer {
  width: 100%;
  height: 150px;
  background-color: #f2f2f2;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

footer p {
  font-size: var(--small-font-size);
}

footer > article > * {
  font-size: var(--main-font-size);
}

footer span {
  padding: 0 10px;
}

.middle{
  display: flex;
}

.footer-top, .footer-middle{
  margin-bottom: 10px;
}

.footer-middle2{
  margin-bottom: 3px;
}

.middle > p{
  margin: 0 10px;
} */
