@import "../root-style.css";

.main {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.mypage{
  position: absolute;
}

.header-container {
    height: 180px;
    width: 100vw;
    z-index: 10;
    /* background-color: var(--background-color); */
  }

/* Header */
header {
  z-index: 100;
  height: 120px;
  margin: auto;
  display: flex;
  align-items: center;
}

.home-logo {
  width: 20%;
  display: flex;
  justify-content: end;
}

.home-logo img {
  width: 95px;
  padding-top: 4px;
}

/* Widget */
.header-widget-area {
  width: 20%;
}

.widget-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.widget-item {
  width: 42px;
  font-size: 20px;
  line-height: 1;
  margin-left: 10px;
}

.widget-item a {
  color: var(--icon-button-color);
}

.widget-item a:hover {
  color: var(--point-color);
}

.header-icon {
  color: var(--icon-button-color);
  font-size: 22px;
}

.header-icon:hover {
  color: var(--point-color);
}

.login-list {
  display: flex;
  margin-right: 15px;
  align-items: center;
}

.login-item {
  width: 65px;
  text-align: center;
}

.login-item a, .login-list span {
  color: var(--main-font-color);
  font-size: var(--small-font-size);
}

.login-item a:hover {
  color: #5e5d5d;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1.5px solid var(--icon-button-color);
  background-color: var(--icon-button-color);
  overflow: hidden;
}

.dropbtn,
.dropbtn1 {
  width: 100%;
  height: 100%;
  display: flex;
  border: none;
  cursor: pointer;
  background-color: rgba(0 , 0, 0, 0);
}

#profilePhoto {
  font-size: 1.4em;
  margin-top: 5.3px;
  color: var(--background-color);
}

.caret-icon {
  margin-top: 7px;
  padding-left: 7px;
  color: var(--icon-button-color);
}

.dropdown:hover span{
  border: 1.5px solid var(--point-color);
  background-color: var(--point-color);
}

.dropdown:hover #triangleIcon{
  color: var(--point-color);
}

.login-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1000;
  min-width: 100px;
  height: 77px;
  /* border: 1px solid #ccc; */
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  top: 34px;
  right: -5px;
  box-shadow: 2px 2px 10px 0px #bcbcbc;
}

.dropdown-message {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 250px;
  min-height: 45px;
  /* border: 1px solid #ccc; */
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  top: 34px;
  right: -5px;
  box-shadow: 2px 2px 10px 0px #bcbcbc;
}

.notice {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.notice p {
  margin-left: 13px;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

.dropdown-content a,
.dropdown-message a {
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--main-font-color);
  font-size: 13px;
  text-align: center;
  line-height: 1.2;
}

.message-box {
  margin: 12px auto;
  width: 200px;
  min-height: 100%;
  align-items: center;
}

.message-box a {
  justify-content: flex-start;
}

.dropdown-content a:first-child {
  border-bottom: 0.75px solid #bcbcbc;
}

.show {
  display: block;
}

.rotate {
  transform: perspective(500px) rotateX(180deg);
}

/* Nav */
nav {
  margin: auto;
  width: 1000px;
}

.nav-body {
  display: flex;
  justify-content: center;
}

.nav-list {
  width: 200px;
  height: 45px;
  text-align: center;
  margin-top: 10px;
}

.nav-list:hover {
  color: #5e5d5d;
}

.nav-list a {
  vertical-align: -webkit-baseline-middle;
  font-family: "NotoSansKR-Medium";
  text-decoration: none;
  color: var(--main-font-color);
  font-size: var(--medium-font-size);
  transition-duration: 0.2s;
}

.nav-list a:hover{
  font-size: var(--large-font-size);
  font-family: "NotoSansKR-Bold";
}

main{
  min-height: 100%;
  position: relative;
  padding-bottom: 130px;
}

.main-wrap{
  position: absolute;
  /* overflow-x: hidden; */
  top: -180px;

}

.swiper-container{
    position: relative;
    height: 570px;
}

.swiper-pagination{
    top: 335px;
}

.swiper-pagination > .swiper-pagination-bullet {
    opacity: 0.7;
    border: white solid 1px;
    background-color: transparent;
}
.swiper-pagination > .swiper-pagination-bullet-active {
    background-color: white;
}

.swiper-button-prev, .swiper-button-next{
    color: white !important;
    opacity: 0.7;
    top: 120px !important;
}

.swiper-button-prev::after, .swiper-button-next::after{
    font-size: 90px !important;
}

.swiper-button-next{
    right: 70px !important;
}

.swiper-button-prev{
    left: 70px !important;
}

.main-background{
  height: 660px;
  width: 100vw;
  overflow: hidden;
  position: absolute;

}

.main-background img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-title{
  position: relative;
  top: 330px;
  left: 400px;
}

.main-title p:nth-child(1){
  font-size: 20px;
  color: var(--background-color);
  font-weight: 600;
}

.main-title p:nth-child(2){
  font-size: var(--main-font-size);
  color: var(--background-color);
  font-weight: 500;
}

.middle-product{
  position: relative;
  display: flex;
  justify-content: center;

  z-index: 100;
  margin-top: 170px;
  margin-bottom: 100px;
}

.middle-wrap{
  width: 1000px;
  margin: 0 20px;
  display: flex;
  justify-content: space-around;
}

.middle-a{
    width: 200px;
}

.middle-text-wrap{
  width: 100%;
  display: flex;  
  cursor: pointer;
  justify-content: space-around;
  margin-top: 10px;
  padding: 0 3px;
}

.middle-text{
    width: 160px;
}

.middle-text p:first-child{
  font-size: var(--main-font-size);
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.middle-text p:nth-child(2){
  font-size: var(--main-font-size);
}

.middle-icon{
  width: 40px;
  height: 40px;
  border: 2px solid var(--line-color);
  border-radius: 10px;
}

.arrow{
  text-align: center;
  color: var(--sub-font-color);
  font-size: var(--title-font-size);
}

.middle-cover{
  width: 200px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
}

.middle-cover img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cooking-part{
  margin: 100px 0;
}

.cooking-text{
  text-align: center;
  margin-bottom: 30px;
}

.cooking-text p:nth-child(1){
  font-weight: 800;
  font-size: var(--title-font-size);
  color: var(--main-font-color);
  padding-bottom: 8px;
}

.cooking-text p:nth-child(2){
  font-weight: 500;
  font-size: var(--medium-font-size);
  color: var(--main-font-color);
}

.cooking-img{
  width: 100vw;
  height: 450px;
  overflow: hidden;
}

.cooking-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cooking-a{
  width: 400px;
  height: 60px;
  border-radius: 30px;
  background-color: var(--point-color);
  /* background-color: rgba(43, 140, 68, 0.8); */
  
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  margin: 50px auto;
}

.cooking{
  display: flex;
  align-items: center;
}

.cooking-a p{
  text-align: center;
  font-size: var(--title-font-size);
  color: var(--background-color);
  font-weight: 600;
  margin-bottom: 2px;
  z-index: 10;
}

.cooking-arrow{
  font-size: 28px;
  padding-left: 10px;
  color: var(--background-color);
}

.ad-wrap{
    display: flex;
    justify-content: center;
}

.ad-img{
    width: 1000px;
    height: 150px;
    overflow: hidden;
}

.ad-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-wrap{
    width: 1000px;
    display: flex;
    margin: 0 auto;

}

.product-wrap > a{
    margin-right: 27px;
}

.product{
    width: 230px;
}

.product-img{
    width: 230px;
    height: 320px;
    overflow: hidden;
}

.product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-title{
    text-align: center;
    font-size: var(--title-font-size);
    margin-top: 70px;
    margin-bottom: 20px;
}

.middle-product-title{
    text-align: center;
    font-size: var(--title-font-size);
    margin-top: -120px;
    margin-bottom: -130px;
}

.product-text{
    margin-top: 10px;
}

.product-text p:nth-child(2){
    /* font-family: "NotoSansKR-Bold"; */
}

.product-text p:nth-child(1){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "NotoSansKR-Bold";
}