@import "../root-style.css";


.header-container{
    z-index: 50;
}

body{
    width: 100vw;
    height:auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    width: 1200px;
    height: auto;

    display: flex;
    justify-content: space-between;

}


/** 왼쪽 nav메뉴 */
.admin-nav-section{
    width: 200px;
    height: 100vh;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}



/* 팜팜관리자 */
.admin-nav-section > div:first-child {
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}


.admin-profile{
    width: 100px;
    display: flex;
    justify-content: center;
    font-size: var(--main-font-size);
    /* color: rgb(10, 21, 15); */
    color: var(--point-color);
    font-weight: bold;
}

.admin-nav-section > div:first-child > img{
    margin-bottom: 20px;
}



/* nav 메뉴 (팜팜보드~)*/
.admin-nav-section > div:nth-child(2){
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}



.admin-nav-menu{
    display: inline-block;
    font-size: var(--main-font-size);
    color: white;
    color: black;
    font-family: "NotoSansKR-Medium";
    font-weight: 100;  
}


.admin-nav-sub{
    width: 200px;
    margin-top: 8px;
    padding-left: 60px;
    font-size: var(--main-font-size);
    color: rgb(87, 87, 87, 0.9);
    font-family: "NotoSansKR-Medium";
}


.with-icon-div{
    padding: 5px 0;
    margin-top: 20px;
    color: black;
}

.with-icon-div i{
    padding: 0 5px 5px 40px;
}


.nav-lower a {
    width: 200px;
}

.nav-lower a:hover{
    color: var(--point-color);
    font-weight: 700;
    transition-duration: 0.1s;
    cursor: pointer;
    border-left: 5px solid var(--point-color);
}

/* todo: 카테고리 선택 부분 _카테고리별로 다르게 표시! */
.admin-nav-sub:nth-of-type(7){
    height: 30px;
    padding-top: 5px;
    background-color: #eef4ed;;
}


/* 반품리스트 조회 */
.no-result{
    line-height: 300px;
    font-size: var(--medium-font-size);
}

.return-list-section{
    width: 1000px;
    min-height: 900px;
    height: auto;
    padding-bottom: 10px;
    background-color: #eef4ed;
    position: relative;
    padding: 0 30px;
}


.page-title{
    text-align: center;
    font-size: var(--headline-font-size);
    height: 115px;
    padding-top: 50px;
}


/* 리스트 조회결과 */
.return-list{
    margin: auto;
}

.part-title>p{
    display: inline-block;
    margin-right: 5px;
}

.count-list{
    display: inline-block;
    font-size: var(--main-font-size);
    color: var(--sub-font-color);
    padding-top: 3px;
}

table{
    background-color: #fff;
    
    border: 1px solid #ddd;
    border-collapse: collapse;

    font-size: var(--small-font-size);
}

.return-list-table{
    width: 100%;
    margin: 10px auto;

    text-align: center;
}

td, tr{
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.table-row{
    height: 50px;
}

.table-head{
    height: 40px;
    font-size: var(--main-font-size);
    color: var(--point-color);
}

.table-info{
    cursor: pointer;
}

.table-row>*:nth-child(1){width: 10%;}
.table-row>*:nth-child(2){width: 10%;}
.table-row>*:nth-child(3){width: 15%;}
.table-row>*:nth-child(4){width: 10%;}
.table-row>*:nth-child(5){width: 15%;}
.table-row>*:nth-child(6){width: 20%;}
.table-row>*:nth-child(7){width: 20%;}


/* 페이지네이션 영역 */
.pagination-area{
    display: flex;
    justify-content: center;
    margin: 50px;
}

/* 페이지 박스 */
.page-box{
    background-color: var(--background-color);
    color: var(--sub-font-color);
    border: 1px solid var(--line-color);
    width: 30px;
    height: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font: var(--sub-font-color);

    cursor: pointer;
}

.page-box>a{
    width: 100%;
}

.page-box:hover{
    color: var(--main-font-color);
    font-weight: 600;
    transition-duration: 0.1s;
}

/* 현재 페이지 */
.current-page-box{
    border: 1px solid var(--line-color);
    background-color: var(--background-color);
    width: 30px;
    height: 30px;

    font-weight: 600;
    color: var(--point-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.current-page-box>a{
    font-weight: 600;
    color: var(--point-color);
}


.no-result{
    height: 200px;
    padding-top: 100px;
}
