/* 상위 영역 */

/* 채팅 위젯 */
.chatWidget-container{
    display: none;
    border: 1px solid var(--line-color);
    background-color: white;
    box-shadow: 2px 2px 10px 0px #bcbcbc;

    width: 300px;
    max-height: 267px;

    border-radius: 10px;

    position: fixed;
    bottom: 190px;
    right: 60px;
    overflow-y: scroll;
    z-index: 50000;

    /* 스크롤바 숨기기 */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* 스크롤바 숨기기 */
.chatWidget-container::-webkit-scrollbar{
    display: none;
}

/* 채팅 위젯 헤더 */
.chatWidget-header{
    height: 40px;

    display: flex;
    padding: 0px 20px;

    justify-content: space-between;
    align-items: center;
}

.chatWidget-title{
    font-size: var(--large-font-size);
    color: var(--main-font-color);
    font-weight: 600;
}

#goChatRoom {
    border: none;
    width: 70px;
    height: 25px;
    background-color: var(--point-color);
    font-size: var(--small-font-size);
    color: white;

    border-radius: 5px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

#goChatRoom:hover {
    opacity: 0.8;
}

#goChatRoom:active {
    opacity: 0.9;
}


/* 채팅 위젯에 들어갈 채팅 박스 */
.chatWidget-box{
    background-color: white;
    
    width: 100%;
    height: 70px;

    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: start;
    position: relative;

    cursor: pointer;
    border: none;
    border-bottom: 1px solid var(--line-color);

}

/* 프로필 이미지 */
.chatWidget-profile-img{
    width: 50px;
    height: 50px;
    margin-right: 5px;
    
    display: flex;
    align-items: center;
}

.chatWidget-profile-img > img{
    width: 100%;
    height: 100%;
    
    padding: 2px;

    border: 1px solid var(--line-color);
    border-radius: 50%;
}

/* 이름 및 시간 */
.chatWidget-box-label{
    border-bottom: 1px solid var(--line-color);

    width: 200px;
    /* padding-bottom: 10px; */
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;

}

/* 이름 */
.chatWidget-member-nickname{
    width: 115px;
    font-weight: 600;
    font-size: var(--main-font-size);
    color: var(--main-font-color);

    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/* 시간 */
.chatWidget-last-chat-time{
    width: 73px;
    font-size: var(--small-font-size);
    font-family: sans-serif;
    color: var(--sub-font-color);
    letter-spacing: -1px;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

/* 채팅내용(1줄까지) */
.chatWidget-last-chat-content{
    width: 170px;
    height: 17px;
    /* padding: 5px 0px; */
    font-size: var(--main-font-size);
    color: var(--main-font-color); 

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* 채팅방 안읽은 개수 알림 */
.chatWidget-unread-chat-count{
    position: absolute;

    font-size: var(--main-font-size);
    width: 20px;
    height: 20px;
    border-radius: 50%;

    background-color: red;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    bottom: 10px;
    right: 21px;
}

/*  */
#chatWidgetFooter{
    display: flex;
    align-items: center;

    padding: 10px;
    position: relative;
}

/*  */
#refreshChatWidget{
    right: 10px;
    position: absolute;
    transition-duration: 10s;
    transition-delay: 1s;
    transform: rotate(10turn);
}

/* 채팅위젯박스 hover */
.chatWidget-box:hover{
    transition-duration: 0.3s;
    background-color: #fafafa;
}

.chatWidget-box:hover .box-label{
    transition-duration: 0.3s;
    height: 91px;
}

.chatWidget-box:hover .member-nickname{
    -webkit-line-clamp: 3;
}

.chatWidget-box:hover .last-chat-content{
    height: 0;
}

.chatWidget-box:hover .enter-icon{
    display: flex;
}

