@import "../root-style.css";

.header-container{
    z-index: 50;
}


body{
    width: 100vw;
    /* height: 100vh; */
    /* background-color: #eef4ed; */

    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    width: 1200px;
    height: auto;

    display: flex;
    justify-content: space-between;
}



/* todo: 카테고리 선택 부분 _카테고리별로 다르게 표시! */
.admin-nav-sub:nth-of-type(2){
    height: 30px;
    padding-top: 5px;
    background-color: #eef4ed;;
}


/** -------------------------------------- */

/** 오른쪽 내용 부분 */
.admin-content-section{
    width: 1000px;
    min-height: 1000px;
    height: auto;
    padding-bottom: 20px;
    background-color: #eef4ed;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}


.page-title{
    text-align: center;
    font-size: var(--title-font-size);
    font-weight: bold;
    height: 80px;
    padding-top: 48px;
}



.board-content{
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}


.board-div{
    width: 100%;
}


.board-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    margin-top: 20px;
    font-weight: bold;
}


#allSellerBtn{
    width: 85px;
    height: 18px;
    margin-top: 5px;
    color: var(--point-color);
    /* color: white;
    background-color: var(--point-color); */
    font-size: var(--small-font-size);
    text-decoration: underline;
    border: none;
}

#allSellerBtn:hover{
    color: white
}



#watingSellerBtn{
    width: 97px;
    height: 18px;
    margin-top: 5px;
    color: var(--point-color);
    font-size: var(--small-font-size);
    text-decoration: underline;
    border: none;
    
    display: none;
}

#watingSellerBtn:hover{
    color:white;
}






/* * 인증 신청 목록 * */
.seller-auth{
    width: 900px;
    height: 360px;
    background-color: white;
    border-radius: 10px;
    
    display: flex;
    align-items: flex-start;
    
    padding: 15px 20px;
    overflow: hidden;
}

/* 인증 신청 테이블 */
.auth-list-table{
    width: 900px;
    height: fit-content;
    font-size: var(--small-font-size);
    text-align: center;
    border-collapse: collapse;
}


.auth-list-table th{
    color: var(--point-color);
    padding-bottom: 10px;
    vertical-align: top;
    height: 20px;
}

.auth-list-table td{
    padding-bottom: 10px;
    height: 31px;
}

.auth-list-row:hover{
    background-color: #eef4ed;
    transition-duration: 0.1s;
    cursor: pointer;
}


/* 전체조회 th width 정하기 */
/* no */
.auth-list-header th:first-of-type{
    width: 30px;
}

/* 회원번호 */
.auth-list-header th:nth-of-type(2){
    width: 70px;
}

/* 아이디 */
.auth-list-header th:nth-of-type(3){
    width: 90px;
}

/* 닉네임 */
.auth-list-header th:nth-of-type(4){
    width: 115px;
}

/* 성명 */
.auth-list-header th:nth-of-type(5){
    width: 90px;
}

/* 주소 */
.auth-list-header th:nth-of-type(6){
    width: 230px;
}

/* 신청일자 */
.auth-list-header th:nth-of-type(7){
    width: 155px;
}

/* 판매자 인증 상태 */
.auth-list-header th:nth-of-type(8){
    width: 85px;
}



/* no 색 변경 */
.member-seq{
    color: var(--point-color);
    opacity: 50%;
}





/* 페이지네이션 */
.admin-pagination{
    list-style: none;
    width: 920px;
    display: flex;
    justify-content: center;
    padding-top: 10px;

    font-size: var(--small-font-size);
}

.current-page-box{
    margin: 0 5px;
    text-align: center;

    display: block;
    height: 100%;
    color: var(--point-color);
}

.page-box{
    margin: 0 5px;
    text-align: center;

    display: block;
    height: 100%;
    color: rgb(129, 129, 129);
    cursor: pointer;
}



/* 인증 신청서 조회 */
#selectAuthPaperDiv{
    display: none;
}

.select-auth-paper{
    width: 900px;
    height: 530;
    background-color: white;
    border-radius: 10px;

    display: flex;
    justify-content: center;

    padding: 20px 30px;
    margin-bottom: 50px;

    display: flex;
    justify-content: space-around;
}

/* 증빙 사진 */
.seller-auth-image{
    width: 440px;
    display: flex;
    flex-direction: column;
}

.auth-image-title{
    font-size: var(--small-font-size);
    color: var(--point-color);
    font-weight: bold;
    margin-bottom: 10px;
}

.auth-image{
    width: 350px;
    height: 450px;
}

.auth-image > img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* 신청서 */
.seller-auth-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* 신청서 내용 */
.seller-auth-table{
    width: 400px;
    height: 400px;
    margin: 15px 30px 30px;
}

.seller-auth-table tr{
    height: 35px;
}

.detail-bold{
    width: 140px;
    color: var(--point-color);
    font-weight: bold;
    font-size: var(--main-font-size);
}

.detail-content{
    width: 240px;
    font-size: var(--main-font-size);
}







/* 버튼 */
.auth-button-div{
    width: 100%;
    height: 50px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
}

#authApproveBtn{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: var(--point-color);
    margin-right: 20px;
}

#authDenyBtn{
    width: 100px;
    height: 30px;
    border-radius: 5px;    
    color: white;
    border: none;
    background-color: #C43819;
}


/* 인증신청서 승인/거부 모달 
adminModal-style.css------------------------------- */

































/* 증빙사진 모달 */
/* .authImg-modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--modal-background-color);

    z-index: 2000;
    
    display: none;
}

.authImg{
    width: auto;
    height: auto;
} */


