@import "../root-style.css";

.header-container{
    z-index: 50;
}

body{
    width: 100vw;
    height:auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
}



/* todo: 카테고리 선택 부분 _카테고리별로 다르게 표시! */
.admin-nav-sub:nth-of-type(7){
    height: 30px;
    padding-top: 5px;
    background-color: #eef4ed;;
    font-weight: bold;
}


/** -------------------------------------- */


/** 오른쪽 내용 부분 */
.admin-content-section{
    width: 1000px;
    min-height: 950px;
    height: auto;
    padding-bottom: 20px;
    background-color: #eef4ed;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-div{
    width: 100%;
    height: 30px;
    margin-top: 40px;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
}

.report-title{
    font-weight: bold;
}


.caret-icon{
    padding-left: 2px;
    margin: 0;
    color: var(--point-color);
}

.report-list-type span{
    padding-left: 10px;
}



.report-select{
    width: 920px;
    height: 800px;
    border-radius: 10px;
    background-color: white;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.report-list-table{
    width: 860px;
    height: auto;
    padding: 10px;
    margin: 10px 20px;
    font-size: var(--small-font-size);
    text-align: center;
    border-collapse: collapse;
}

.report-list-table th{
    color: var(--point-color);
    padding: 10px 0;
    /* background-color: #eef4ed; */
    /* border-bottom: 1px solid #bdf0b4; */
}

.report-list-table td{
    padding: 10px 0;
}

.report-list-row:hover{
    background-color: #e1fadd;
    transition-duration: 0.1s;
    cursor: pointer;
}


/* 페이지네이션 */
.admin-pagination{
    list-style: none;
    width: 920px;
    display: flex;
    justify-content: center;
    padding-top: 10px;

    font-size: var(--small-font-size);
}

.admin-pagination li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.admin-pagination a{
    display: block;
    width: 100%;
    height: 100%;
    color: lightgray;
}

/* todo:현재 페이지색은 point-color로 */


/* 회원 조회 - 검색 */
.report-search{
    width: 200px;
    height: auto;
    padding: 1px 15px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;


    margin-right: 5px;
    border-radius: 5px;

    background-color: #e2e2e2;
}

#reportSearchInput{
    width: 160px;
    border: none;
    background-color: #e2e2e2;
}

#reportSearchBtn{
    background-color: #e2e2e2;
    border: none;
    cursor: pointer;
}

