@import "../root-style.css";

.report-detail-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--modal-background-color);

    z-index: 100;
    
    /* todo */
    display: none;
}


.accumulate-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--modal-background-color);

    z-index: 100;
    
    /* todo */
    display: none;
}


.report-detail-modal{
    background-color: white;
    width: 800px;
    height: 700px;
    padding: 40px 60px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: relative;
}


.accum-modal{
    background-color: white;
    width: 800px;
    height: 700px;
    padding: 40px 50px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    overflow: auto;
    overflow-x: hidden;

    position: relative;
}

::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #eef4ed;
    border-radius: 10px;
}


.next-icon{
    position: absolute;
    top: 300px;
    right: 40px;
    font-size: 30px;
    cursor: pointer;
}

.pre-icon{
    position: absolute;
    top: 300px;
    left: 30px;
    font-size: 30px;
    cursor: pointer;
}



.report-modal-title, .accum-modal-title{
    font-weight: bold;
    height: 40px;
}



.detail-bold{
    color: var(--point-color);
    font-weight: bold;
    font-size: var(--main-font-size);
}


.accum-bold{
    color: var(--point-color);
    font-weight: bold;
    font-size: var(--small-font-size);
}


.left{ width: 120px;}

.right{ width: 120px;}

.left-content{  /* 신고번호, 유형,신고일자 내용 */
    width: 240px;
}



.report-modal-table{
    height: 500px;
    display: flex;
    align-items: flex-start;
}

.accum-modal-table{
    width: 700px;
    display: flex;
    align-items: flex-start;
    border-collapse: collapse;
    border: none;
}

#tbodyDetail, #tbodyAccum{
    width: 95%;
    height: 500px;
    overflow: auto;
}

#tbodyAccum{
    display: flex;
}



#tbodyDetail tr td{
    height: 30px;
    font-size: var(--main-font-size);
}

#tbodyAccum tr td{
    height: 30px;
    font-size: var(--small-font-size);
    text-align: center;
    vertical-align: middle;
}

.tr-row{
    padding: 15px;
}


/* 누적 신고 모달 */
.accum-row{
    width: 100%;
}

/* no */
.accum-row td:first-of-type{
    width: 60px;
}

/* 신고번호 */
.accum-row td:nth-of-type(2){
    width: 60px;
}

/* 신고 일자 */
.accum-row td:nth-of-type(3){
    width: 160px;
}

/* 신고자 */
.accum-row td:nth-of-type(4){
    width: 80px;
}

/* 신고 사유 */
.accum-row td:nth-of-type(5){
    width: 150px;
}

/* 추가 사유 */
.accum-row td:nth-of-type(6){
    width: 190px;
}




/* 버튼 */
.button-div{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px
}


#accountLeaveBtn, .account-leave-btn{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: #9E9E9E;
    margin-right: 10px;
    cursor: pointer;
}


#accountBannedBtn, .account-banned-btn{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: #E3A914;
    margin-right: 10px;
    cursor: pointer;
}

#accountKickOutBtn, .account-kickout-btn{
    width: 100px;
    height: 30px;
    border-radius: 5px;    
    color: white;
    border: none;
    background-color: #C43819;
    cursor: pointer;
}


#contentLeaveBtn, .content-leave-btn{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: #9E9E9E;
    margin-right: 10px;
    cursor: pointer;
}

#contentDeleteBtn, .content-delete-btn{
    width: 100px;
    height: 30px;
    border-radius: 5px;    
    color: white;
    border: none;
    background-color: #C43819;
    cursor: pointer;
}


.off{
    background-color: lightgray;
    cursor: default;
}


.show{
    display: block;
}


.show-flex{
    display: flex;
}


.hide{
    display: none;
}

  