@import "../root-style.css";

#adminDelContainer{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--modal-background-color);

    z-index: 2000;
    
    /* //todo */
    display: none;
}


.adminDel-modal{
    background-color: white;
    width: 380px;
    /* height: 460px; */
    height: 120px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;

}


.adminDel-title{
    width: 380px;
    margin: 5px 0;
    font-weight: bold;
    text-align: center;
    font-size: var(--medium-font-size);
}

.adminDel-form-div{
    height: 380px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#adminDelSubmitBtn{
    width: 150px;
    height: 30px;
    background-color: #C43819;
    color: white;
    border: none;
    border-radius: 5px;
}


/* 반짝이는 효과 */
@keyframes blink-effect{
    50% {
        opacity: 0;
    }
}

#adminDelSubmitBtn:active{
    animation: blink-effect 0.3s step-start;
    animation-timing-function: ease;
    scale: 0.99;
}


.scrollLock {
    overflow: hidden;
}