@import "../root-style.css";

.header-container{
    z-index: 50;
}




body{
    width: 100vw;
    height:auto;
    /* background-color: #eef4ed; */

    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    width: 1200px;
    height: auto;

    display: flex;
    justify-content: space-between;
}


/* todo: 카테고리 선택 부분 _카테고리별로 다르게 표시! */
.admin-nav-sub:first-of-type{
    height: 30px;
    padding-top: 5px;
    background-color: #eef4ed;
    font-weight: bold;
}


/** -------------------------------------- */


/** 오른쪽 내용 부분 */
.admin-content-section{
    width: 1000px;
    min-height: 1300px;
    height: auto;
    padding-bottom: 20px;
    background-color: #eef4ed;

    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 오른쪽 상단 */

.page-title{
    text-align: center;
    font-size: var(--title-font-size);
    font-weight: bold;
    height: 80px;
    padding-top: 48px;
}


/* 회원 조회 */
/* 회원 조회 타이틀 */
.member-select-title{
    color: var(--icon-button-color);
    font-weight: bold;
    margin-bottom: 10px
}

.upper-board{
    width: 900px;
    height: auto;
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.member-select{
    width: 100%;
    /* min-height: 500px; */
    height: 520px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;

    display: flex;
    justify-content: space-between;

    padding: 15px 20px;
}


.title-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.caret-icon{
    padding-left: 3px;
    margin: 0;
    color: var(--point-color);
}


.member-select-table{
    width: 900px;
    /* height: 550px; */
    height: fit-content;
    /* margin: 15px 20px; */
    font-size: var(--small-font-size);
    text-align: center;
    border-collapse: collapse;
}

.member-select-table th{
    color: var(--point-color);
    padding-bottom: 10px;
    vertical-align: top;
    height: 20px;
}

.member-select-table td{
    padding-bottom: 10px;
    height: 31px;
}

.member-select-row{
    height: 30px;
}

.member-select-row:hover{
    background-color: #eef4ed;
    transition-duration: 0.1s;
    cursor: pointer;
}



/* 전체조회 th width 정하기 */
/* no */
.member-first-row th:first-child{
    /* width: 24px; */
    width: 30px;
}

/* 회원번호 */
.member-first-row th:nth-child(2){
    width: 55px;
}

/* 아이디 */
.member-first-row th:nth-child(3){
    width: 100px;
}

/* 닉네임 */
.member-first-row th:nth-child(4){
    width: 100px;
}

/* 주소 */
.member-first-row th:nth-child(5){
    width: 250px;
}

/* 가입일 */
.member-first-row th:nth-child(6){
    width: 155px;
}

/* 판매자 인증 */
.member-first-row th:nth-child(7){
    width: 85px;
}

/* 상태 */
.member-first-row th:nth-child(8){
    width: 85px;
}



/* no 색 변경 */
.member-seq{
    color: var(--point-color);
    opacity: 50%;
}



/* 필터 */
.select-filter{
    background-color: none;
    padding-left: 0;
    margin-left: 0;
}


/* 판매자인증 필터 */
#sellerAuth{
    cursor: pointer;
    position: relative;
}

/* 상태 필터 */
#memberStatus{
    cursor: pointer;
    position: relative;
}


/* 드롭다운 메뉴 */
.drop-menu1{
    width: 75px;
    height: auto;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 2px 10px 0px #bcbcbc;
    border-radius: 5px;

    font-size: var(--small-font-size);
    color: black;
    font-weight: 500;

    position: absolute;
    z-index: 500;
    top: 22px;
    left: 5px;
    padding: 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: none;

}


.drop-menu2{
    width: 80px;
    height: auto;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 10px 0 #bcbcbc;
    border-radius: 5px;

    font-size: var(--small-font-size);
    color: black;
    font-weight: 500;

    position: absolute;
    z-index: 500;
    top: 22px;
    right: -9px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2px;

    display: none;
}



.drop-ul li {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    width: 85px;
    display: block;

}


.drop-ul li:hover{
    /* background-color: #d1f8ca; */
    font-weight: bold;
    transition-duration: 0.1s;
    cursor: pointer;
}



[name="auth"], [name="status"] {
    margin-right: 8px;
}

.toggle{
    display: flex;
}






/* 페이지네이션 */
.admin-pagination{
    list-style: none;
    width: 920px;
    display: flex;
    justify-content: center;
    padding-top: 10px;

    font-size: var(--small-font-size);
}


.current-page-box{
    margin: 0 5px;
    text-align: center;

    display: block;
    /* width: 100%; */
    height: 100%;
    color: var(--point-color);
}

.page-box{
    margin: 0 5px;
    text-align: center;

    display: block;
    /* width: 100%; */
    height: 100%;
    color: rgb(129, 129, 129);
    cursor: pointer;
}

/* todo:현재 페이지색은 point-color로 */


/* 회원 조회 - 검색 */
.member-search{
    width: 200px;
    height: auto;
    padding: 1px 15px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;


    margin-right: 5px;
    margin-bottom: 5px;
    
    border-radius: 5px;

    background-color: #e2e2e2;
}

#adminMemberkeyword{
    width: 160px;
    padding: 1px 0;
    border: none;
    background-color: #e2e2e2;
    font-size: var(--small-font-size);
}

#memberSearchBtn{
    background-color: #e2e2e2;
    border: none;
    cursor: pointer;
}



/* 회원 상세 정보 middle board */
/* 계정 변경 내역 lower board */



/* 회원 상세 정보 타이틀 */
.member-detail-title{
    width: 100%;
    height: 30px;
    color: var(--icon-button-color);
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;    
    padding: 0 350px;
}

/* 계정 상태 타이틀 */
.member-history-title{
    width: 100%;
    /* height: 30px; */
    color: var(--icon-button-color);
    font-weight: bold;
    margin-top: 70px;
    text-align: center;
    padding: 0 350px;
}


/* .line {
	display: flex;
	align-items: center;
	font-size: 14px;
}

.line::before{
	content:"";
	flex-grow:1;
	margin: 0 15% 0 0;
	background: lightgray;
	height:1px;
	font-size:0px;
	line-height: 0px;

}
.line::after {
    content: "";
    flex-grow: 1;
    margin: 0 0 0 15%;
    background: lightgray;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
} */




/* //fix: 클릭하면 보이도록 */
.middle-board{
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;    

    display: none;

}

/* //optimize 회원 상세 정보 */
.middle-detail{
    width: 900px;
    /* height: 800px; */
    height: auto;

    margin-top: 50px;
    padding-bottom: 30px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    background-color: white;
}



/* 프로필 이미지 */
.detail-profileImg{
    width: 250px;
    height: 250px;
    text-align: center;
}

.detail-profileImg img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 10px solid #eef4ed;
}


.member-detail-table{
    width: 900px;
    height: 200px;
    font-size: 13px;
}

.member-detail-table td{
    padding-bottom: 15px;
}


.detail-bold{
    color: var(--point-color);
    font-weight: bold;
    padding-left: 20px;
}

.status-bold{
    font-weight: bold;
}

.hidden-td{
    width: 0;
    height: 0;
}




/* //optimize 계정 상태 */
.member-history{
    width: 900px;
    height: auto;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
}


.member-history-table{
    width: 600px;
    height: 120px;
    padding: 20px 0;
    margin-top: 30px;
    border-collapse: collapse;
}

.member-history-table tbody{
    height: fit-content;
}


.member-history-table th{
    height: 40px;
    padding-bottom: 10px;
    font-size: var(--main-font-size);
    color: var(--point-color);
    /* border: 1px solid black; */
}

.member-history-table tr td{
    text-align: center;
    height: 40px;
    padding: 10px;
    font-size: var(--main-font-size);
}


.row2{
    height: fit-content;
}


/* 강제 탈퇴 버튼 */
#adminDelBtn{
    width: 150px;
    height: 30px;
    border-radius: 5px;  
    margin-top: 45px;
    background-color: #C43819;
    color: white;
    border: none;
}




