@import "../root-style.css";

.report-detail-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--modal-background-color);

    z-index: 100;
    
    /* todo */
    display: none;
}

.report-detail-modal{
    background-color: white;
    width: 800px;
    height: 700px;
    padding: 40px 60px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.report-modal-title{
    font-weight: bold;
    height: 40px;
}



.detail-bold{
    color: var(--point-color);
    font-weight: bold;
    font-size: var(--main-font-size);
}

.left{ width: 120px;}

.right{ width: 120px;}

.left-content{  /* 신고번호, 유형,신고일자 내용 */
    width: 240px;
}



.report-modal-table{
    height: 500px;
    display: flex;
    align-items: flex-start;
}

#tbodyDetail{
    width: 100%;
}



#tbodyDetail tr td{
    height: 30px;
    font-size: var(--main-font-size);
}




/* 버튼 */
.button-div{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px
}


#accountLeaveBtn{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: #9E9E9E;
    margin-right: 10px;
}


#accountBannedBtn{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: #E3A914;
    margin-right: 10px;
}

#accountKickOutBtn{
    width: 100px;
    height: 30px;
    border-radius: 5px;    
    color: white;
    border: none;
    background-color: #C43819;
}


#contentLeaveBtn{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: #9E9E9E;
    margin-right: 10px;
}

#contentDeleteBtn{
    width: 100px;
    height: 30px;
    border-radius: 5px;    
    color: white;
    border: none;
    background-color: #C43819;
}


.show{
    display: block;
}

.hide{
    display: none;
}