@import "../root-style.css";


.header-container{
    z-index: 50;
}



body{
    width: 100vw;
    height:auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    width: 1200px;
    height: auto;

    display: flex;
    justify-content: space-between;
}




/* todo: 카테고리 선택 부분 _카테고리별로 다르게 표시! */
#dashboard{
    height: 30px;
    padding-top: 5px;
    background-color: #eef4ed;;
}




/** 오른쪽 내용 부분 */
.admin-content-section{
    width: 1000px;
    min-height: 1100px;
    height: auto;
    padding-bottom: 10px;
    /* background-color: rgb(237,241,244); */
    background-color: #eef4ed;;
    /* border-radius: 10px; */
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.dashboard-title{
    width: 100%;
    height: 50px;

    text-align: center;
    color: var(--point-color);
    opacity: 0.9;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    letter-spacing: 3px;

    margin-top: 50px;
}




.board-stat{
    width: 900px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.board-stat span{
    width: 200px;
    height: 150px;
    border-radius: 10px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
}

.span-text{
    padding-top: 33px;
    font-size: var(--large-font-size); 
    font-weight: bold;
}

.span-number{
    padding-top: 20px;
    font-size: 26px;
    font-weight: bold;
}

.s-green{
    color: var(--point-color);
}

.s-red{
    color: red;
}

.s-blue{
    color: rgb(6, 29, 165);
}


.graph-title{
    font-family: "S-CoreDream-4Legular";
    font-size: var(--large-font-size);
    color: var(--point-color);
    font-weight: bold;
    margin-bottom: 20px;
}


.graph-container{
    background-color: white;
    width: 900px;
    height: 460px;
    border-radius: 10px;
    margin-top: 30px;
}

.board-graph{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.graph-container2{
    width: 900px;
    height: 460px;
    border-radius: 10px;
    margin-top: 30px;
}

.graph-container2{
    /* display: flex; */
}

.graph2{
    background-color: white;
    border-radius: 10px;
}


.sales {
    width: 55%;
}

.ranking { 
    width: 100%;
    padding: 10px 10px;
}

.ranking-container {
}


#signUpGraph{
    position: relative;
    display: flex;
}

#orderGraph{
    position: relative;
    display: none;
}

.fa-angle-right, .fa-angle-left{
    position: absolute;
    font-size: 30px;
    color: rgba(43, 140, 68, 0.5);
    cursor: pointer;
}

.fa-angle-right{
    right: 30px;
}

.fa-angle-left{
    left: 30px;
}


.move-to-left{
    animation: fadeInToLeft ease 1s;;
}

.move-to-right{
    animation: fadeInToRight ease 1s;
}


@keyframes fadeInToRight {
    0% {
        opacity: 0;
        transform: translate3d(-20%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}


@keyframes fadeInToLeft {
    0% {
        opacity: 0;
        transform: translate3d(20%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}